.button {
  @extend .h3-type;
  @extend .clickable;
  @include box-sizing(border-box);
  @include border-radius(5px);
  display: inline-block;
  vertical-align: top;
  padding: 9px;
  border: 1px solid darken($white, 20%);
}

.action-button {
  @extend .button;
  @include vertical-gradient($white, darken($white, 20%));
  
  &:hover, &:focus {
    @extend .button;
    @include vertical-gradient($white, darken($white, 10%));
  }
  
  &:active {
    @extend .button;
    @include vertical-gradient(darken($white, 10%), $white);
  }
}

.back-button {
  @extend .action-button;
  
  &:before {
    content: '< ';
  }
}