#main {
  @extend .clearfix;
  @extend .fake-collapse;
  position: relative;
  float: left;
  width: $column-width * 32;
  margin-left: $column-width;
  
  section {
    @include border-radius(10px);
    @include box-shadow(0 0 5px $gray-trans);
    @extend .fake-collapse;
    margin: 0 0 $line-height 0;
    padding: $line-height $column-width;
    background: darken($white, 10%);
  }
}