<% title "ASB" %>
<% page_class "partners" %>

<section class="banner">
  <%= link_to image_tag("partners/asb.png", :alt => "ASB"), "http://bhhs.bhusd.org" %>
</section>

<section class="explanation">
  <h1>ASB</h1>
  <p>ASB (Associated Student Body) is the student body group of the Beverly Hills High School. They have donated $1000 to MorTorq.</p>
</section>
