<% title "LA County ROP" %>
<% page_class "partners" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", raytheon_path, :class => "back" %>
    <%= link_to "Forward", wire_edm_path, :class => "forward" %>
    <%= link_to image_tag("partners/larop.jpeg", :alt => "LA County ROP"), "http://www.lacorop.org" %>
  </section>

  <section class="information">
    <h1>LA County ROP</h1>
    <p>LACOROP (Los Angeles County Regional Occupational Program) is accredited by the Western Association of Schools and Colleges (WASC) and governed by the Los Angeles County Board of Education. In cooperation with twenty-three school districts, LACOROP determines and meets both the career objectives of students and the labor market needs in Los Angeles County. District steering committee representatives provide direction for LACOROP programs operated within their schools. LACOROP partners with business representatives who participate in advisory committees to assure that occupational courses are based upon needs of the business or industry and to provide students with on-the-job training. LACOROP provides us with funding that covers the entrance fee for LA Regional, among other things. LACOROP also works with private post-secondary schools, community college districts, labor organizations, and employment agencies to help us accomplish our mission.</p>
  </section>
</section>
