<% title "Raytheon" %>
<% page_class "partners" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", larop_path, :class => "back" %>
    <%= link_to "Forward", redman_path, :class => "forward" %>
    <%= link_to image_tag("partners/raytheon.jpeg", :alt => "LA County ROP"), "http://www.raytheon.com" %>
  </section>

  <section class="information">
    <h1>Raytheon</h1>
    <p>Raytheon is a technology and innovation leader specializing in defense, homeland security, and other government markets throughout the world. With a history of innovation spanning 90 years, Raytheon provides state-of-the-art electronics, mission systems integration, and other capabilities in the areas of sensing; effects; and command, control, communications and intelligence systems, as well as a broad range of mission support services. Raytheon provides our team with two mentors whose knowledge base is invaluable to our team. We’re grateful to our Raytheon mentors for giving so generously of their time and ability.</p>
  </section>
</section>
