<% title "Raytheon" %>
<h1>Raytheon</h1>
  <img src="Raytheon.jpg" alt="Raytheon logo" /><br />
  <p> Raytheon is a technology and innovation leader specializing in defense, homeland security and other government markets throughout the world. With a history of innovation spanning 90 years, Raytheon provides state-of-the-art electronics, mission systems integration and other capabilities in the areas of sensing; effects; and command, control, communications and intelligence systems, as well as a broad range of mission support services. Raytheon provides our team with two mentors whose knowledge base is inexpensive to our team. By providing their knowledge and expertise in the Robotics field, they have become indispensable mentors for our team. Aside from providing their knowledge on key designing strategies, they also provide their expansive knowledge of building principals. By supervising and assisting in the building process we can assure that our robot is Raytheon approved.</p><br />
  <p><a href="http://www.raytheon.com/">Website</a></p>
