<% title "Redman" %>
<h1>Redman</h1>
  <img src="Redman.gif" alt="Redman logo" /><br />
  <p> Redman Equipment is a full-service heat exchanger shop, providing service on shell and tube heat exchangers and related process equipment. This year, Redman Equipment has been kind enough to manufacture the robot chassis for us. A task that is typically difficult, complicated, and expensive. The staff was extremely professional and they did a perfect job with the chassis. Redman Equipment, aside from helping us weld the chassis they also manufacture for us several different parts. The knowledgeable and kind staff also comes in and assists with the building process. Redman Equipment does more than provide us with terrific and knowledgeable mentors, they provide us with the ability to create a great and competitive robot.</p><br />
  <p><a href="http://www.redmaneq.com/">Website</a></p>