<% title "Redman" %>
<% page_class "partners" %>

<section class="banner">
  <%= link_to image_tag("partners/redman.gif", :alt => "Redman"), "http://www.redmaneq.com" %>
</section>

<section class="explanation">
  <h1>Redman</h1>
  <p>Redman Equipment is a full-service heat exchanger shop that provides service on shell and tube heat exchangers and related process equipment. This year, Redman Equipment has generously donated several parts including our robot chassis, performing a difficult, complicated, and expensive manufacturing job at no cost to the team. The staff was extremely professional and the chassis was absolutely perfect. The knowledgeable and kind Redman team also mentors our build team. Redman Equipment has provided us with generous, knowledgeable mentors, and enabled us to create a great robot.</p>
</section>
