<% title "Wire Tech EDM" %>
<article>
  <h1>Wire Tech EDM</h1>
  <p><%= link_to "Wire Tech EDM", "http://www.wiretechedm.com" %> is a job shop specializing in Wire EDM and EDM hole drilling. They have donated numerous water-jetted parts to the build team.</p>
</article>
