form {
  
}

fieldset {
  
}

legend {
  
}

.field, .actions {
  @extend .one-line;
}

label {
  
}

input[type=text] {
  
}

input[type=search] {
  
}

input[type=tel] {
  
}

input[type=url] {
  
}

input[type=email] {
  
}

input[type=text] {
  @extend .body-type;
  @include box-sizing(border-box);
  @include border-radius(5px);
  display: block;
  width: 100%;
  height: $line-height;
  border: 1px solid transparentize($gray, 0.5);
  padding: 0 5px;
  background: $white;
  line-height: $line-height - 2px;
}

input[type=password] {
  @extend input[type=text];
}

input[type=datetime] {
  
}

input[type=date] {
  
}

input[type=month] {
  
}

input[type=week] {
  
}

input[type=time] {
  
}

input[type=datetime-local] {
  
}

input[type=number] {
  @extend input[type=text];
}

input[type=range] {
  
}

input[type=color] {
  
}

input[type=checkbox] {
  font-size: $line-height;
  margin-right: $column-width / 2;
}

input[type=radio] {
  
}

input[type=file] {
  
}

input[type=submit] {
  
}

input[type=image] {
  
}

input[type=reset] {
  
}

input[type=button] {
  
}

button {
  @extend .action-button;
}

select {
  
}

datalist {
  
}

optgroup {
  
}

option {
  
}

textarea {
  @extend .body-type;
  @include box-sizing(border-box);
  @include border-radius(5px);
  display: block;
  width: 100%;
  height: $line-height * 5;
  border: 1px solid transparentize($gray, 0.5);
  padding: 0 5px;
  background: $white;
  line-height: $line-height - 2px;
}

.field-with-errors {
  input, textarea {
    background: lighten($red, 35%);
  }
}

keygen {
  
}

output {
  
}

progress {
  
}

meter {
  
}