p {
  @extend .one-line;
}

hr {
  
}

pre {
  @extend .one-line;
  white-space: pre-wrap;
}

blockquote {
  @extend .one-line;
}

ol {
  @extend .one-line;
  list-style-position: inside;
  list-style-type: decimal;
}

ul {
  @extend .one-line;
  list-style-position: inside;
  list-style-type: square;
}

li {
  
}

dl {
  @extend .one-line;
}

dt {
  
}

dd {
  
}

figure {
  @include border-radius(5px);
  float: right;
  padding: 9px;
  margin: 0 0 $line-height $column-width;
  border: 1px solid darken($white, 30%);
  background: darken($white, 20%);
  
  &.banner {
    @include border-radius(0);
    float: none;
    margin: 0;
    padding: 9px 0;
    border-left: 0;
    border-right: 0;
    
    img {
      margin: 0 auto;
    }
  }
}

figcaption {
  @extend .body-type;
  position: relative;
  top: $line-height / 4;
  text-align: center;
}