@mixin container {
  @include grid($gw-columns, 0);
}

@function gutter($n) {
  @return $gw-gutter * $n;
}

@mixin gutter($n) {
  margin-left: gutter($n) / 2;
  margin-right: gutter($n) / 2;
}

@mixin grid($n, $gutters: 1) {
  @if $gutters == 0 {
    width: grid-width($n) + $gw-gutter;
  } @else {
    @include gutter($gutters);
    width: grid-width($n) - gutter($gutters - 1);
  }
}
