.page-container {
  @extend .clearfix;
  width: ($gw-columns * $gw-column) + (($gw-columns + 1) * $gw-gutter);
}

@mixin grid($n) {
  float: left;
  margin-left: $gw-gutter / 2;
  margin-right: $gw-gutter / 2;
  width: grid-width($n);
}

@mixin prefix($n) {
  margin-left: grid-width($n) + ($gw-gutter / 2);
}

@mixin suffix($n) {
  margin-right: grid-width($n) + ($gw-gutter / 2);
}

@for $n from 1 through $gw-columns {
  .grid-#{$n} {
    @include grid($n);
  }
}

@for $n from 0 through $gw-columns - 1 {
  .prefix-#{$n} {
    @include prefix($n);
  }

  .suffix-#{$n} {
    @include suffix($n);
  }
}
