<h1 class="hide">BHRobotics</h1>

<section>
  Insert carousel here.
</section>

<section>
  <h2>What is BHRobotics?</h2>
  <p>BHRobotics is a group of students, parents, teachers, and mentors, but most of all, a group of friends. Over the past 6 years, the team has had the mission to spread science and technology in a highly spirited way.</p>
</section>

<section>
  <h2>Need help?</h2>
  <p>BHRobotics is dedicated to helping teams of any size building their robot or website through its comprehensive <a href="http://en.wikipedia.org/wiki">wiki</a>. If more help or mentorship is necessary, <a href="mailto:eileenkahn@gmail.com">contact them directly</a>.</p>
</section>