<h1 class="hide">BHRobotics</h1>

<section id="carousel">
  <%= image_tag 'banner.png' %>
</section>

<div class="columns">
  <section class="column">
    <h2>What is BHRobotics?</h2>
    <p>BHRobotics is a group of students, parents, teachers, and mentors, but most of all, a group of friends. Over the past 6 years, the team has had the mission to spread science and technology in a highly spirited way.</p>
  </section>
  
  <section class="column">
    <h2>Need help?</h2>
    <p>BHRobotics is dedicated to helping teams of any size building their robot or website through its comprehensive <a href="http://en.wikipedia.org/wiki">wiki</a>. If more help or mentorship is necessary, <a href="mailto:contact@bhrobotics.com">contact them directly</a>.</p>
  </section>
</div>

<section>
  <h2>Lorem ipsum</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>