<% page_class "welcome" %>

<header>
<%= image_tag "headers/welcome.jpg", :alt => "Welcome" %>
</header>


<section class="information">
  <div class="column-1">
    <h1>Welcome</h1>
    <h2>What is BHRobotics?</h2>
    <p>We are <strong>BHRobotics</strong>, a group of students, parents, teachers, mentors, and, most importantly, a group of friends, located in Beverly Hills High School of Beverly Hills, California. Over the past 9 years, our mission has been to spread science and technology in a highly spirited way. We participate in the FIRST Robotics competition, in which we build a new robot each year to compete with other high schools around the world. However, our team is about a lot more than just building robots; we spead the message of FIRST by inspiring others to pursue careers in science and technology and by doing community service. Take a look around our site to learn more about our team, our outreach events, and FIRST robotics.</p>
    <h2>Need help?</h2>
    <p>BHRobotics is dedicated to helping teams of any size in building their robot or website. If more help or mentoring is needed, <a href="mailto:contact@bhrobotics.com">contact us directly</a>.</p>
  </div>

  <div class="column-2">
    <h2>What is FIRST?</h2>
    <p>FIRST (For Inspiration and Recognition of Science and Technology) is a multinational, non-profit organization with the intention of incorporating mathematics, science, engineering, and technology into an exciting and entertaining outlet for kids. FIRST allows high-schoolers to compete with robotics teams from other schools, promoting an extremely competitive but friendly environment. </p>
		<p>2013's game is Ultimate Ascent. For two minutes and fifteen seconds, two alliances of three robots each play on a 23 by 54 foot field work to score points  by shooting flying discs into goals on the ends of the field.  There is one 1 point goal, two 2 point goals, one 3 point goal, and one 5 point goal at the top of two steel pyramids on both sides of the field. The autonomous period forms the first fifteen seconds of the game. Robots are preprogrammed to score double points by shooting the discs into the goals without human control. The remaining two minutes form the teleoperated period, in which human players control robots to score points with the goals. In the endgame sequence (last thirty seconds of the game), human players work to score points by throwing the discs themselves and to move the robots onto the pyramids for many bonus points. Good luck!
  </div>
</section>
