<% page_class "welcome" %>

<header>
  <%= image_tag "headers/welcome.jpg", :alt => "Welcome" %>
</header>

<section class="information">
  <div class="column-1">
    <h1>Welcome</h1>
    <h2>What is BHRobotics?</h2>
    <p>We are BHRobotics, a group of students, parents, teachers, and mentors, and most importantly, a group of friends, located in Beverly Hills High School in Beverly Hills, California. Over the past 8 years, our mission has been to spread science and technology in a highly spirited way. We participate in the FIRST Robotics competition, in which we build a new robot each year to compete with other high schools around the world. However, our team is about a lot more than just building robots; we spead the message of FIRST by inspiring others to pursue careers in science and technology and by doing community service. Take a look around our site to learn more about our team, our outreach events, and FIRST robotics.</p>

    <h2>Need help?</h2>
    <p>BHRobotics is dedicated to helping teams of any size building their robot or website. If more help or mentoring is needed, contact them directly.</p>
  </div>

  <div class="column-2">
    <h2>What is FIRST?</h2>
    <p>FIRST (For Inspiration and Recognition of Science and Technology) is a multinational, non-profit organization with the intention of incorporating mathematics, science, engineering, and technology into an exciting and entertaining outlet for kids. FIRST allows high-schoolers to compete with robotics teams from other schools, promoting an extremely competitive but friendly environment. This year’s game is called Rebound Rumble is played on a 27' by 54' field, in which two alliances of 3 teams each compete against each other with the objective of scoring as many points as possible and hindering the other alliance from scoring points. The main method of scoring points is by shooting miniature foam basketballs into one of four hoops, with an upper hoop (worth 3 points), two middle hoops (2 points each) and a lower hoop (1 point). Bonus points will be awarded to alliances who balance their robots on one of three ramps on the dividing line of the field. At the beginning of the match, an autonomous period takes place in which pre-programmed robots shoot basketballs into the hoops without human interaction.</p>
  </div>
</article>
