<!DOCTYPE html>
<html>
  <head>
    <title>BHRobotics's FIRST LA Regional Live Webcast</title>
    <style>
      html {
        background: black;
      }

      body {
        width: 960px;
        margin: 0 auto;
      }

      h1, p {
        color: white;
        text-align: center;
      }

      a {
        color: white;
      }

      iframe {
        display: block;
        border: 0px none transparent;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h1>BHRobotics's FIRST LA Regional Live Webcast</h1>
    <p>Looking for BHRobotics.com? <%= link_to "Continue on to our site.", welcome_path %></p>
    <iframe width="720" height="431" src="http://www.ustream.tv/embed/10628434" scrolling="no" frameborder="0"></iframe>
  </body>
</html>
