section#website-awards {
  @include border-radius(0 0 10px 10px);
  @extend .clearfix;
  margin-bottom: 0;
  border-top: $gray 1px solid;
  padding: $line-height $column-width 0;
  background: darken($white, 20%);
  text-align: center;
  
  img {
    display: inline-block;
    margin: 0 5px $line-height;
  }
}