<% title "Aim High" %>
<% page_class "previous-years" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", rack_n_roll_path, :class => "back" %>
    <%= link_to "Forward", triple_play_path, :class => "forward" %>
    <%= image_tag "games/aim-high.jpg", :alt => "Aim High" %>
  </section>

  <section class="information">
    <h2>2006: Aim High</h2>
    <p>In the game, Aim High, robots tried to score goals by mainly shooting balls into a high center target, with floor targets on each side. Each center goal was worth 3 points while the corner, floor goals were worth 1 point. In the last period of the game, teams try to earn bonus points by making their robots climb on top of a platform, placed on either sides of the field. If the succeeded, teams earned up to 25 points.</p>
  </section>
</section>
