<% title "Breakaway" %>
<% page_class "previous-years" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", logomotion_path, :class => "back" %>
    <%= link_to "Forward", lunacy_path, :class => "forward" %>
    <%= image_tag "games/breakaway.jpg", :alt => "Breakaway" %>
  </section>

  <section class="information">
    <h2>2010: Breakaway</h2>
    <p>In the game, Breakaway, robots played soccer on a field that had two towers with tunnels underneath and two bumps across the width of the field, dividing the field into three sections. One robot from each alliance was placed in each of the sections and given a certain amount of balls to shoot depending on the distance between the goals. The object of the game was to push the balls into the goals to score points. Near the end of the game, robots could receive extra points if they can hung from one of the towers, or from another robot.</p>
  </section>
</section>
