<% title "Heroes of FIRST" %>
<article>
  <h1>Heroes of First</h1>
  <h2>Dean Kamen</h2>
  <p>Dean Kamen is an award-winning inventor with over 440 international patents, including the Segway, the wearable infusion and insulin pump, the portable dialysis machine, the Slingshot, the iBot, and the organizations of DEKA and the FIRST.</p>
  <p>In 1989, Dean Kamen founded FIRST (For Inspiration or Recognition of Science and Technology), a program promoting the use and enjoyment of science and technology that has affected the lives of over 25,000 high school students. He created FIRST to motivate the future generations to use and enjoy technology. In 1998, the FIRST LEGO League was established in order to provide engineering opportunities to younger children, ages 9 to 14. Until 2007, the FIRST Robotics Competition included over 30 regional competitions and only one international competition. By 2009, FIRST served more than 250,000 young people, ages 6 to 18 in more than 50 countries around the world. Students involved in this program have an opportunity to receive more than $14 million in scholarships from many of the leading educational institutions. Studies have also shown that students involved with FIRST have gone into various science and technology related occupations, fulfilling Dean Kamen’s dream for exciting the future generations. Kamen has spent the rest of his life dedicated to improving the lives of the less fortunate and inspiring the next generation of scientists and engineers.</p>
  <ul>
    <li><a href="http://www.usfirst.org/aboutus/founder">Dean Kamen's FIRST Page</a></li>
    <li><a href="http://www.dekaresearch.com/index.shtml">DEKA Home Page</a></li>
    <li><a href="http://www.usfirst.org/">FIRST Home Page</a></li>
    <li><a href="http://www.segway.com/">Segway Home Page</a></li>
  </ul>

  <h2>Dr. Woodie Flowers</h2>
  <p>Dr. Woodie Flowers is the FIRST National Advisor and Pappalardo Professor Emeritus of Mechanical Engineering at Massachusetts Institute of Technology and a Distinguished Partner at Olin College. Dr. Flowers holds the position of the FIRST National Advisor and was a member of the Game and Kit Design Committee, the committee responsible for creating the yearly game that the robots play. In fact, Dr. Flowers has his own award, the Woodie Flowers Award, that is given to a single mentor for their contributions to the team. Aside from design, he is an integral member of the FIRST Robotics community. He is also a MacVicar Faculty Fellow. His specialty areas are engineering design and product development. Dr. Flowers coined the term "Gracious Professionalism", a major part of the ethos of FIRST. Gracious Professionalism is a way of competing that encourages high-quality work, emphasizes the value of others, and cultivates respect for individuals and the community.</p>
  <ul>
    <li><a href="http://www.usfirst.org/aboutus/bio/dr-woodie-flowers">Dr. Woodie Flower's FIRST Page</a></li>
    <li><a href="http://meche.mit.edu/people/index.html?id=26">Dr. Woodie Flower's Achievements</a></li>
    <li><a href="http://meche.mit.edu/people/index.html?id=26">Mit Meche E- Dr. Flowers' Achievements</a></li>
  </ul>

  <h2>Dave Lavery</h2>
  <p>Dave Lavery is the Program Executive for Solar System Exploration at NASA Headquarters. He is responsible for the robotics planetary exploration research efforts when working for the NASA (National Aeronautics and Space Administration) Telerobotics Technology Development Program. His efforts impacted the NASA flight programs, other government robotics projects, and the robotics industry in general. Dave Lavery also contributed ideas to the Sojourner Mars Rover- the first robot to ever explore another planet. As of today, he has published more than 30 technical papers on robotics technology. He is also the mentor of Team 116, and a member of the Game Design Committee. In 2009, Dave Lavery, as a team mentor, was awarded the Woodie Flowers Award for being able to inspire his kids. Lavery's current professional commitment and involvement includes the creation of the NASA Robotics Alliance Project (RAP) to inspire K-12 students in robotics. He also holds positions in the following: Fellow of the National User Group Advisory Council, the KISS Institute for Practical Robotics, and National Executive Advisory Board member of FIRST Robotics.</p>
  <ul>
    <li><a href="http://www.usfirst.org/aboutus/nljun09-volunteer-of-year-dave-lavery">FIRST 2009 Newsletter</a></li>
    <li><a href="http://robotics.nasa.gov/">NASA Robotics Home Page</a></li>
    <li><a href="http://robotics.nasa.gov/management.php">NASA Robotics- Dave Lavery</a></li>
  </ul>

  <h2>Jon Dudas</h2>
  <p>Jon's 14 years of service with the U.S. Government ended with his role as Undersecretary of Commerce for Intellectual Property (IP) and Director of the U.S. Patent and Trademark Office (USPTO) from 2004 to 2009. When becoming the head of the USPTO, Jon led a performance-based government agency with 9,000 employees and a $2 billion annual budget. During his term, the USPTO achieved a dramatic increase in meeting key annual goals. He also lead a number of patent cooperation and development missions in Asia, Europe, and South America to improve IP systems globally and help inventors establish and organize IP rights in every country.</p>
  <p>Dudas was also a partner with the law firm Foley &amp; Lardner LLC. He focused on intellectual property strategy and policy. Prior to his Undersecretary role, Mr. Dudas held various senior staff positions in the House of Representatives. He began his career in private legal practice in Chicago, after he graduated with honors from the University of Chicago and with a degree in law and also received a bachelor's degree in finance from the University of Illinois. Due to his accomplishments in leading technology based organizations Dudas was appointed president of the FIRST organization on July 5, 2010 by the founder, Dean Kamen.</p>
  <ul>
    <li><a href="http://www.uspto.gov/main/homepagenews/bak12jan2004.htm">USPTO Home Page</a></li>
    <li><a href="http://www.usfirst.org/aboutus/press-room/jon-dudas-appointment">FIRST Jon Dudas Appointment</a></li>
    <li><a href="http://www.usfirst.org/aboutus/jon-dudas">Jon Dudas' FIRST Page</a></li>
    <li><a href="http://www.patentlyo.com/patent/2010/06/jon-dudas.html">Patentlyo's Article</a></li>
  </ul>

  <h2>Mark Leon</h2>
  <p>Mark Leon is a civil servant with NASA Ames Research Center. He works primarily on communications. Mark Leon also became the director of NASA Robotics Alliance Project (RAP) in 1998, which is an organization that supports education for children and encourages them to have an interest in technology. Throughout the years, over 100,000 secondary school students have learned to build various robots that do a variety of different tasks with help from mentors from NASA, private business leaders, and prestigious institutions. Mark Leon is truly motivated to help kids learn about science and technology. This started when Leon was living in East San Jose, a very tough neighborhood. Having to hide from gangs, he had to sneak to school and then took refuge in his school’s library to study. When his grades improved, it changed his views of life. His scary childhood experiences have inspired Leon to help reach out to at-risk teens. He wants to help them stay away from drugs and violence, and to push them to do well in school. He reaches out through his NASA Project, his NASA Rocket Club for middle school students, and other rocket science programs. These out-reaches help kids focus in on the bright future that’s ahead of them. One moment, in 1999, still makes Mark Leon tear up. Mark Leon mentored two opposing high school teams in San Jose. When one of them won, the two opposing gang members gave each other hugs afterward, instead of being out on the streets, and almost killing each other. Apart from NASA, Mark Leon has made many achievements in his life. In the 1980’s, Leon was in charge of establishing transatlantic communication between American, French, and English space agencies. In the 1990’s he accomplished a feat thought to be impossible. He completed the first audio/video link to Antarctica.</p>
  <p>Recently he has worked as the Master of Ceremonies at FIRST robotics competitions. He is best recognized by students as wearing a bright blue NASA coat and dying his hair the same color. Mark Leon is a role model for us all. "It's all about the math!" says Mark when he's effervescently MC'ing a FIRST Robotics regional competition. His high spirits and positive attitude set the standard of Gracious Professionalism. In addition, he loves to make sure we know what the equation for torque is. Hey Mark! Torque = Force × Rotational Distance!</p>
  <ul>
    <li><a href="http://robotics.nasa.gov/management.php">NASA Robotics</a></li>
    <li><a href="http://www.edutopia.org/mark-leon-robotics-alliance-project">Edutopia's Interview with Mark Leon</a></li>
  </ul>
</article>
