<% title "Logomotion" %>
<% page_class "previous-years" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", triple_play_path, :class => "back" %>
    <%= link_to "Forward", breakaway_path, :class => "forward" %>
    <%= image_tag "games/logomotion.jpg", :alt => "Logomotion" %>
  </section>

  <section class="information">
    <h2>2011: Logomotion</h2>
    <p>Robots stacked inflatable game pieces, in the shapes of the FIRST Logo, on to poles by hanging them from hooks. Teams recieved points for hanging game pieces on any of the three height levels of the hooks, and received more points if they formed the FIRST Logo. During the end of the game, robots released minibots that raced up to the top of one of the poles in the middle of the field to get bonus points.</p>
  </section>
</section>
