<% title "Lunacy" %>
<% page_class "previous-years" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", breakaway_path, :class => "back" %>
    <%= link_to "Forward", overdrive_path, :class => "forward" %>
    <%= image_tag "games/lunacy.jpg", :alt => "Lunacy" %>
  </section>

  <section class="information">
    <h2>2009: Lunacy</h2>
    <p>The object of the game, Lunacy, was to have robots and humans score points by shooting "balls" into trailers. There were three different types of "balls": a Moon rock and Empty Cell were worth two points and a Super cell was worth 15. These "balls" were thrown into the trailers, which were attached to the end of each robot.</p>
  </section>
</section>
