<% title "FIRST Overdrive" %>
<% page_class "previous-years" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", lunacy_path, :class => "back" %>
    <%= link_to "Forward", rack_n_roll_path, :class => "forward" %>
    <%= image_tag "games/overdrive.jpg", :alt => "Overdrive" %>
  </section>

  <section class="information">
    <h2>2008: FIRST Overdrive</h2>
    <p>The game of FIRST Overdrive stimulated a car race where the objective of the game was to have each team’s robots cross their finish lines multiple times. Besides passing the finish line, there were track balls suspended on an overpass, where they could have been knocked down and pushed across the finish line to earn more points. Each time a robot finished a lap, or a ball passed the finish line, the team received two points, but if the ball went over the overpass, they received 8 points. During the finale of the game, robots could attempt to place the balls back on the overpass, but they had to stay there until the end of the game.</p>
  </section>
</section>
