<% title "Previous Years" %>
<% page_class "previous-years" %>

<section class="games">
  <h1>Previous Years</h1>
  <h2>2011: Logomotion</h2>
  <p>In the game, Logomotion, robots were supposed to stack inflatable game pieces, which were the shapes of the FIRST Logo on to poles by hanging them from hooks. The team got points for hanging the game piece on any of the three height levels of the hooks, and received more points if they made the FIRST Logo. During the end of the game, robots released minibots that raced up to the top of one of the poles in the middle of the field to get bonus points.</p>

  <h2>2010: Breakaway</h2>
  <p>In the game, Breakaway, robots played soccer on a field that had two towers with tunnels underneath and two bumps across the width of the field, dividing the field into three sections. One robot from each alliance was placed in each of the sections and given a certain amount of balls to shoot depending on the distance between the goals. The object of the game was to push the balls into the goals to score points. Near the end of the game, robots could receive extra points if they can hung from one of the towers, or from another robot.</p>

  <h2>2009: Lunacy</h2>
  <p>The object of the game, Lunacy, was to have robots and humans score points by shooting "balls" into trailers. There were three different types of "balls": a Moon rock and Empty Cell were worth two points and a Super cell was worth 15. These "balls" were thrown into the trailers, which were attached to the end of each robot.</p>

  <h2>2008: FIRST Overdrive</h2>
  <p>The game of FIRST Overdrive stimulated a car race where the objective of the game was to have each team’s robots cross their finish lines multiple times. Besides passing the finish line, there were track balls suspended on an overpass, where they could have been knocked down and pushed across the finish line to earn more points. Each time a robot finished a lap, or a ball passed the finish line, the team received two points, but if the ball went over the overpass, they received 8 points. During the finale of the game, robots could attempt to place the balls back on the overpass, but they had to stay there until the end of the game.</p>

  <h2>2007: Rack 'n Roll</h2>
  <p>Rack 'n Roll was a game where robots competed to hang three types of inflatable pool tubes on to a rack in the middle of the field that had 3 hooks obtruding in 8 columns (24 hooks in total). The three types of pool tubes were as follows: Keepers- printed pool tubes that were used during the autonomos period and couldn’t be moved after they were hung, Ringers- plain pool tubes that were used during the teleoperated period, and Spoilers- black pool tubes that blocked hooks and were movable. Teams scored points by making rows and columns using their designated tubes. At the end of the game, teams received points on how many 2-tube and 3-tube rows and columns they made on the racks.</p>

  <h2>2006: Aim High</h2>
  <p>In the game, Aim High, robots tried to score goals by mainly shooting balls into a high center target, with floor targets on each side. Each center goal was worth 3 points while the corner, floor goals were worth 1 point. In the last period of the game, teams try to earn bonus points by making their robots climb on top of a platform, placed on either sides of the field. If the succeeded, teams earned up to 25 points.</p>

  <h2>2005: Triple Play</h2>
  <p>The object of Triple Play was to score points by stacking tetrads (tetrahedrons) on top of goal posts or by dropping the game pieces beneath the goals. Each stacked tetrahedron was worth three points, while the dropped game pieces were worth one. Teams could also earn bonus points by making a row of three tetrads or by pushing all of their robots into their assigned end zones.</p>
</section>
