<% title "Rack 'n Roll" %>
<% page_class "previous-years" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", overdrive_path, :class => "back" %>
    <%= link_to "Forward", aim_high_path, :class => "forward" %>
    <%= image_tag "games/rack-n-roll.jpg", :alt => "Rack 'n Roll" %>
  </section>

  <section class="information">
    <h2>2007: Rack 'n Roll</h2>
    <p>Rack 'n Roll was a game where robots competed to hang three types of inflatable pool tubes on to a rack in the middle of the field that had 3 hooks obtruding in 8 columns (24 hooks in total). The three types of pool tubes were as follows: Keepers- printed pool tubes that were used during the autonomos period and couldn’t be moved after they were hung, Ringers- plain pool tubes that were used during the teleoperated period, and Spoilers- black pool tubes that blocked hooks and were movable. Teams scored points by making rows and columns using their designated tubes. At the end of the game, teams received points on how many 2-tube and 3-tube rows and columns they made on the racks.</p>
  </section>
</section>
