<% title "Rebound Rumble" %>
<% title "Rebound Rumble" %>

<p style="background:teal"></p>

<h2> Overview </h2>
<p>
      In Rebound Rumble, each team controls a robot

  and is in an alliance with two other teams. Each alliance competes

  by scoring as many baskets as possible in a two-minute and fifteen-second time

  period. Baskets at different heights have varying point values. Teams can also score by balancing

  on a bridge located along the center of the field.

      Robots can not be as tall as a team wants them to be. There are

  rules that the robots and players must follow. If the players or the

robots break any of the rules, the team recieves a foul. Fouls can either deduct points or disqualify players or robots.
</p>


   


<h2>  Gameplay </h2>

      <p> Alliances want to work together to score points by making baskets

and balancing on bridges. Robots can either play defense or offense to help

their alliance win. A defensive robot tries to stop the other team's offense robot

from scoring. An offensive robot scores by successfully shooting basketballs in baskets.

      Robots can pick up foam balls from the ground or from a ball feeder. The

robots can hold up to three balls at once. Robots can travel from each side of

the field by either going over the barrier or crossing the bridge. The game is

played on a field that is 27 by 54 ft.
 

      Players control their robots using a Microsoft Kinect during the Hybrid Period. Two Kinect stations

are located outside the court. </p>

<ul>
  <li>The field</li>
  <img src="http://frc-manual.usfirst.org/upload/2.1b.jpg" alt="Rebound Rumble field">
</ul>

 <h2> Scoring </h2>

       <p>In Rebound Rumble points can be scored two ways: by shooting the ball in the
 
basket and by balancing on the bridges. There are four baskets in the game, with one 

at the top, two in the middle and one on the bottom. Balls scored on the highest hoop are worth three points, balls

scored on the middle hoops are worth two points, and balls scored on the lowest hoop are worth one point.

Balancing on the bridges is worth more than scoring a basket. There are three bridges, and those on the outside are worth less than the the middle bridge, which requires a robot from each team in order to be balanced.
	Players can use the Kinect to motion-control their robot during the Hybrid Period. Points scored on the baskets are valued differently from the rest of the game. Baskets scored during the Hybrid Period are worth three more points than in the normal game.


<table border="1">
	<tr>
		<th>Hoop</th>
		<th>HYbrid Points</th>
		<th>Teleop Points</th>
	</tr>
	<tr>
		<td>Top</td>
		<td>6</td>
		<td>3</td>
	</tr>
	<tr>
		<td>Middle</td>
		<td>5</td>
		<td>2</td>
	</tr>
	<tr>
		<td>Bottom</td>
		<td>4</td>
		<td>1</td>
	</tr>
</table>

<table border="1">
	<tr>
		<th># of Robots On Bridge</th>
		<th>Qualification Points</th>
		<th>Elimination Points</th>
	</tr>
	<tr>
		<td>1</td>
		<td>10</td>
		<td>10</td>
	</tr>
	<tr>
		<td>2</td>
		<td>20</td>
		<td>20</td>
	</tr>
	<tr>
		<td>3</td>
		<td>20</td>
		<td>40</td>
	</tr>
</table>


<ul>
	<li>The baskets</li>
	<img src="http://frc-manual.usfirst.org/upload/2.2.4.jpg" width="550" height="360" alt="rebound rumble baskets">
</ul>

<p><a href="http://www.youtube.com/user/FRCTeamsGlobal" target="_blank">Overview of Rebound rumble (Video)</a></p> 

 <h2> FAQs </h2>

<ul>
	<li><em>Q:</em> Is there one specific Player Station on each alliance that is hooked to the Kinect, and if so, which one?</li>

	<li><em>A:</em> No. The Kinect pigtail will be able to reach each of the three Player Stations.</li> 

	<li><em>Q:</em> Can we score the last 30 seconds of the match from the feeder?</li>

	<li><em>A:</em> There is no feeder in Rebound Rumble.</li> 

	<li><em>Q:</em> Can a robot grab onto another robot of the same team, in a nondestructive manner, in order to help balance on the bridge?</li>

	<li><em>A:</em> Yes, provided game rules are not broken.</li> 

	<li><em>Q:</em> Are there 18 total basketballs in use (i.e., are there 2 balls on the Coopertition bridge plus unused balls?)</li>

	<li><em>A:</em> Yes, each match will begin with 18 basketballs on the court.</li> 

	<li><em>Q:</em> Can any robot appendage touch the floor to aid in balancing?</li>

	<li><em>A:</em> There are no rules that prevent a robot from touching the carpet. However it may affect whether a bridge is considered balanced or not.</li> 

	<li><em>Q:</em> What happens if a Blue Alliance robot gets pushed into the red key by a Red Alliance robot?</li>

	<li><em>A:</em> The Blue Alliance robot would receive a foul if it touched the Red Alliance robot while the Red Alliance robot was in the key.</li>
</ul>