<% title "Rebound Rumble" %>
<% page_class "rebound-rumble" %>

<div class="columns">
  <div class="column-1">
    <h1>Ultimate Ascent</h1>
    <p>In Ultimate Ascent, each team controls a robot and is in an alliance with two other teams. Each alliance competes by scoring as many baskets as possible in a two-minute and fifteen-second time period. Goals at different heights have varying point values. Teams can also score by climbing the pyramid located at the center of the field. Robots can not be as tall as a team wants them to be. There are rules that the robots and players must follow. If the players or the robots break any of the rules, the team recieves a foul. Fouls can either deduct points or disqualify players or robots.</p>

    <h2>Gameplay</h2>
    <p>Alliances work together to score points by making goals and staying on the pyramid. Robots can either play defense or offense to help their alliance win. A defensive robot tries to stop the other team's offense robot from scoring. An offensive robot scores by successfully shooting frisbees in goals. Robots can pick up frisbees from the ground or from a frisbee feeder. The robots can hold up to four frisbees at once. Robots can travel from each side of the field by driving forward. The game is played on a field that is 27ft by 54 ft. During the autonomous period, </p>

    <h2>Scoring</h2>
    <p>In Ultimate Ascent points can be scored two ways: by shooting the frisbee in the goal and by climbing the pyramid in the center of the feild. There are four baskets in the game, with one at the top, two in the middle,one on the bottomand a bin on top of the pyramid. Balls scored on the highest hoop are worth three points, balls scored on the middle hoops are worth two points, and balls scored on the lowest hoop are worth one point. Balancing on the bridges is worth more than scoring a basket. There are three bridges, and those on the outside are worth less than the the middle bridge, which requires a robot from each team in order to be balanced. Players can use the Kinect to motion-control their robot during the Hybrid Period. Points scored on the baskets are valued differently from the rest of the game. Baskets scored during the Hybrid Period are worth three more points than in the normal game.</p>

    <table>
      <thead>
        <tr>
          <th>Goal</th>
          <th>Autonomous Points</th>
          <th>Teleop Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Top</td>
          <td>6</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Middle</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Bottom</td>
          <td>2</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Pyramid goal</td>
          <td> NA </td>
          <td>5</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Pyramid levels</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1st</td>
          <td>10</td>
        </tr>
        <tr>
          <td>2nd</td>
          <td>20</td>
        </tr>
        <tr>
          <td>3th</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="column-2">
    <figure class="animation">
      <iframe src="http://www.youtube.com/embed/nOXsdhZZSdM" allowfullscreen></iframe>
      <figcaption>Game Animation</figcaption>
    </figure>

    <h2>FAQs</h2>
    <ul class="faqs">
      <div class="question">
        <li><em>Q:</em> Is there one specific Player Station on each alliance that is hooked to the Kinect, and if so, which one?</li>
        <li><em>A:</em> No. The Kinect pigtail will be able to reach each of the three Player Stations.</li>
      </div>

      <div class="question">
        <li><em>Q:</em> Can we score the last 30 seconds of the match from the feeder?</li>
        <li><em>A:</em> There is no feeder in Rebound Rumble.</li>
      </div>

      <div class="question">
        <li><em>Q:</em> Can a robot grab onto another robot of the same team, in a nondestructive manner, in order to help balance on the bridge?</li>
        <li><em>A:</em> Yes, provided game rules are not broken.</li>
      </div>

      <div class="question">
        <li><em>Q:</em> Are there 18 total basketballs in use (i.e., are there 2 balls on the Coopertition bridge plus unused balls?)</li>
        <li><em>A:</em> Yes, each match will begin with 18 basketballs on the court.</li>
      </div>

      <div class="question">
        <li><em>Q:</em> Can any robot appendage touch the floor to aid in balancing?</li>
        <li><em>A:</em> There are no rules that prevent a robot from touching the carpet. However it may affect whether a bridge is considered balanced or not.</li>
      </div>

      <div class="question">
        <li><em>Q:</em> What happens if a Blue Alliance robot gets pushed into the red key by a Red Alliance robot?</li>
        <li><em>A:</em> The Blue Alliance robot would receive a foul if it touched the Red Alliance robot while the Red Alliance robot was in the key.</li>
      </div>
    </ul>
  </div>
</div>
