<% title " TRUE Rebound Rumble" %>
<% page_class "previous-years" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", logomotion_path, :class => "back" %>
    <%= link_to "Forward", lunacy_path, :class => "forward" %>
    <%= image_tag "games/Rebound_Rumble.jpg", :alt => "Rebound Rumble" %>
  </section>

  <section class="information">
    <h2>2012: Rebound Rumble</h2>
    <p>In the game, Rebound Rumble, it was played between two Alliances of three teams each. Each Alliance competes by trying to score as many of the basketballs in the hoops as possible during the two-minute and 15-second match. Balls scored in higher hoops score teams more points. Team Alliances are awarded bonus points if they are balanced on bridges at the end of the match.</p>
  </section>
</section>
