<% title "Triple Play" %>
<% page_class "previous-years" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", aim_high_path, :class => "back" %>
    <%= link_to "Forward", logomotion_path, :class => "forward" %>
    <%= image_tag "games/triple-play.jpg", :alt => "Triple Play" %>
  </section>

  <section class="information">
    <h2>2005: Triple Play</h2>
    <p>The object of Triple Play was to score points by stacking tetrads (tetrahedrons) on top of goal posts or by dropping the game pieces beneath the goals. Each stacked tetrahedron was worth three points, while the dropped game pieces were worth one. Teams could also earn bonus points by making a row of three tetrads or by pushing all of their robots into their assigned end zones.</p>
  </section>
</section>
