<% title "What is FIRST?" %>
<h2>What is FIRST</h2>
<pre>FIRST is a robotics competition in which young people aged 6-18 are encouraged to be leaders in
the fields of science and technology. In FIRST, students participate in diverse competitions in which they
build robots and compete with them in a game at the end of the building season. By doing this, FIRST is
attempting to help young people uncover and cultivate a passion for science, engineering, technology,
and math. The goal of FIRST is to encourage students to innovate, build life skills, self-confidence,
communication, and leadership skills.

FIRST also includes Gracious Professionalism which is a term formulated by Dr. Woodie
Flowers to promote teamwork through professional conduct. Gracious Professionalism is when one
is producing their best work while respecting others at the same time. It is meant to blend the spirit
of competition and mutual gain. Overall, Gracious Professionalism is an attempt to make sure one is
not at the extremes in terms of their actions towards others. Not acting rude, but at the same time not
acting extremely and falsely nice. The goal of Gracious Professionalism is to help one become a kind,
respectful, and helpful addition to society. Coopertition, like Gracious Professionalism, is about being
compassionate and respectful even when in competition. It was made to encourage different teams to
help and cooperate with each other at all times, even when competing against one another.</pre><br />

<h2>FIRST Robotics Competition</h2>
<pre>FRC (FIRST Robotics Competition) is a division of FIRST in which students of grades 9-12 compete
in robotics competitions. FRCs are meant to blend sports, science, and technology into a competition in
which rigid rules, limited resources, and time limits to challenge to build and program a robot, practice
teamwork skills, raise funds, and brand their team. On the other hand, in Jr.FLL, Junior FIRST LEGO
League, (for kindergartener’s- 3rd graders), kids design and construct a robot model using LEGO bricks
and moving parts as well as create a poster to show how they made the model robot. FLL, FIRST LEGO
League, (for 4th-8th graders), is a competition in which robots are built using LEGO MINDSTORMS
technologies that can work without continuous human guidance. FTC, FIRST Tech Challenge, (for 9th –
12th graders) is when teams build robots using a re-usable modular robotics platform.</pre><br />

<h2>History of FIRST</h2>
<pre>FIRST was founded in 1989 by Dean Kamen. It started with 28 teams competing in a high-
school gym located in New Hampshire. This was a very small event. Since then, the FIRST Championship
has been held in places such as the Epcot Center in Orlando, Reliant Park in Houston, the Georgia Dome
in Atlanta, and the Edward Jones Dome in St. Louis since 1995. Additionally, from 1992 to 2004, teams
would compete in alliances of two teams each. From 2005 to now, teams group into alliances of three
teams each.

Dean Kamen, the founder of FIRST, has not only found FIRST but AutoSyringe, Inc. and DEKA
Research and Development Corporation. He has also created 440 international patents which includes
things like the Segway, the wearable infusion and insulin pump, and the portable dialysis machine. Dean
Kamen spends most of his life trying to advance the lives of the less fortunate and trying to encourage
students to become more interested in science and technology. In addition, he has won the National
Medal of Technology award in 2000, the Lemelson-MIT Prize in 2002, and has also been inducted into the National Inventors Hall of Fame in 2005.

Dr. Woodie Flowers is the co-founder of FIRST, the FIRST National Advisor and was a member
of the Game and Kit Design Committee until 2011. He is also the one who coined the term “Gracious
Professionalism”. In addition, there is an award named after him, the Woodie Flowers Award. The
award is meant for one mentor for their contributions to the team. Outside of FIRST he is a Pappalardo
Professor Emeritus of Mechanical Engineering at Massachusetts Institute of Technology, a Distinguished
Partner at Olin College, a member of the National Academy of Engineering, a Fellow of the American
Association for the Advancement of Science and of the American Society of Mechanical Engineers as
well as a MacVicar Faculty Fellow. He also helped to develop MIT's acclaimed course "Introduction to
Design." Dr. Woodie Flowers’ areas of expertise are engineering, design, and product development. Dr.
Woodie Flowers has also received a New England EMMY Award for a special PBS program on design,
The Joel and Ruth Spria Outstanding Design Educator Award from ASME, a Public Service Medal from
NASA, and a Doctor Honoris Causa from Andreas Bello University in Chile. In addition, he has also gotten
national acknowledgment for being a host on Scientific American Frontiers, a PBS television series, from
1990 to 1993.</pre><br />

<h2>Rebound Rumble</h2>
<pre>This year the FRC competition is named “Rebound Rumble”, in which two alliances (three teams
are in each alliance) compete by trying to get as many basketballs into the hoops as possible in the
2 minute and 15 second segments of the game. Additional points may be awarded for balls that are
scored into the higher hoops, when alliances balance on the bridges towards the end of the game, and
when multiple alliances work together to balance on the white bridge located in the middle of the field.

<a href="http://www.usfirst.org/roboticsprograms/frc/2012-rebound-rumble"</pre>

<h2>Previous Years</h2>
<pre>In the FIRST Robotics Competition of 2011, MorTorq competed in “Logo Motion”. The objective
of this game was to place inner tubes that were shaped like the triangle, circle, and square of the FIRST
logo onto racks to win points and in the endgame to have smaller robots climb a tower.

In 2010, Breakaway was the name of the game for the FRC. Robots were supposed to be built so
that they could drive over bumps in the field, go through a tunnel/suspend themselves and other robots
on towers, and direct soccer balls into goals.

In 2009, Lunacy was the game for the FRC. The objective of the game was to score as many
game pieces as possible into the opposing side’s trailer in the time allotted.

In 2008, FIRST Overdrive was the name of the game for the FRC. Teams would attempt to do
laps around a central barrier while trying to manipulate “trackballs” over and under overpasses to win
additional points.

In 2007, Rack 'n Roll was the name of the FRC game. The objective of the game was to have two
alliances of three teams each to attempt to arrange inflatable game pieces shaped like toroidals on “The
Rack”, which was a large device with three levels of hanging metal bars on it to place the game pieces
on.

In 2006, Aim High was the title of the game for the FRC of that year. In Aim High alliances would
try and score points by getting balls into goals and arranging their robots into certain positions on the
playing field.

In 2005, Triple Play was the name of the game for the FRC. The objective of the game was to
place the game pieces, Tetras, on the larger goals in an attempt to create rows of three which was made
by having a Tetra with your alliance’s color on the highest point of the goal.</pre>

http://bhrobotics.com/team/robots

<h2>Get Involved!</h2>
<pre>There are many ways to get involved in FIRST. One obvious option is to join an existing team
in your region. This can easily be done contacting your FIRST Regional Director. If there are no existing
teams near you there is always the option starting a new team yourself. This can be easily done and
the first suggested step is to contact your FIRST Regional Director. Going to regional/international
competitions and cheering on and interacting with the many teams that participate in the competition
is another viable form of involving oneself in FIRST. Spreading the message of FIRST through educating
youth on the joys of science and technology is another admirable form of getting involved with FIRST.

If you do not wish to join or start a team there is always the option of supporting local
teams. This can be done by donating to them. There is a page on the FIRST website that has all of
the information about donations. Volunteering your time to mentor students or helping out during
competitions are also encouraged. Another option is to become a team or event sponsor or supplier. If
you choose to do this you would be funding and/or supplying team(s) with needed supplies.</pre>