<% title "What is FIRST?" %>
<% page_class "what-is-first" %>

<div class="columns">
  <div class="column-1">
    <h1>What is FIRST?</h1>
    <p>FIRST (For Inspiration and Recognition of Science and Technology) is a robotics program that encourages young people aged 6-18 to be leaders in the fields of science and technology. In FIRST, students participate in diverse competitions in which they build robots and compete with them in a game at the end of the “building season”. Through these programs for young people, FIRST attempts to help young people uncover and cultivate a passion for science, engineering, technology, and math. FIRST’s goal is to spur students to innovate, build life skills, create self-confidence, and form communication and leadership skills.</p>
    <p>FIRST emphasizes the concept of “Gracious Professionalism,” a term coined by FIRST co-founder Dr. Woodie Flowers. Gracious Professionalism is a way of action consistent with producing one’s best work while respecting others at the same time. Gracious Professionalism blends the spirit of competition with mutual gain to help students become kind, respectful, and helpful to one another. Another FIRST term, “Coopertition,” like Gracious Professionalism, is about being compassionate and respectful even during intense competition. Coopertition encourages different teams to aid and collaborate with each other at all times, even in the heat of competition.</p>

    <h2>FIRST Robotics Competition</h2>
    <p>The FIRST Robotics Competition is an international high school robotics competition organized by FIRST (For Inspiration and Recognition of Science and Technology). Each year, teams of high school students compete to build robots weighing up to 120 pounds (54 kg), not including battery and bumpers, that can complete a specific set of tasks (the “Game”), which change every year. Teams are given a standard set of parts and the game details at the beginning of January and have six weeks to construct a competitive robot that can operate both autonomously and when guided by wireless controls to complete the assigned tasks.</p>

    <h2>History of FIRST</h2>
    <p>FIRST was founded in 1989 by Dean Kamen. The competition, which began with 28 teams competing in a New Hampshire high school’s gymnasium, has since been held in locations all over the country, including the Epcot Center in Orlando, Reliant Park in Houston, the Georgia Dome in Atlanta, and, since 1995, the Edward Jones Dome in St. Louis.</p>
    <p>Dean Kamen, the founder of FIRST, also founded AutoSyringe, Inc. and DEKA Research and Development Corporation. He has earned 440 international patents on diverse inventions like the Segway, the wearable infusion and insulin pump, and the portable dialysis machine. Dean Kamen has spent his life advancing the lives of the less fortunate and encouraging students to become involved in the fields of science and technology. Mr. Kamen has won the National Medal of Technology award (2000), the Lemelson-MIT Prize (2002), and was inducted into the National Inventors Hall of Fame in 2005.</p>
    <p>Dr. Woodie Flowers is the co-founder of FIRST, the creator of the term “gracious professionalism,” the FIRST National Advisor, and a former member of the Game and Kit Design Committee. In his honor, the Woodie Flowers Award is presented each year to mentors who contribute meaningfully to their team. Dr. Flowers is currently the Pappalardo Professor Emeritus of Mechanical Engineering at Massachusetts Institute of Technology, a Distinguished Partner at Olin College, a member of the National Academy of Engineering, a Fellow of the American Association for the Advancement of Science and of the American Society of Mechanical Engineers, and a MacVicar Faculty Fellow. At MIT, Dr. Flowers was instrumental in developing MIT's acclaimed course "Introduction to Design." Dr. Flowers’ areas of expertise are engineering, design, and product development. He has been the recipient of a New England EMMY Award for a special PBS program on design, The Joel and Ruth Spria Outstanding Design Educator Award from ASME, a Public Service Medal from NASA, and a Doctor Honoris Causa from Andreas Bello University in Chile. Dr. Flowers received national acknowledgment for his role as a host on the PBS television series Scientific American Frontiers from 1990 to 1993.</p>

    <h2>Get Involved!</h2>
    <p>There are many ways to get involved with FIRST. The first way is to join an existing team in your region. This can easily be done by contacting your FIRST Regional Director or local teams. If there are no existing teams near you, consider starting a team yourself. Another real form of participation in the FIRST community is attendance at regional/international competitions, where you will cheer on and interact with the many teams that participate in competitions every year. Another way to get involved with FIRST is to focus on spreading its (and our) message by educating youth on the joys of science and technology.</p>
    <p>FIRST is always looking for additional support. Please visit the FIRST for information on how to donate, mentor, or volunteer at competitions.</p>
  </div>

  <div class="column-2">
    <h2>Rebound Rumble</h2>
    <p>The 2012 FRC game is “Rebound Rumble.” In this game, two “alliances” of three teams each compete by shooting as many basketballs into hoops as possible in the 2 minute and 15 second segments of the game. Additional points are awarded for balls placed into higher hoops, when alliances balance on mid-court “bridges” towards the end of the game, and when multiple alliances work together to balance on the white bridge located in the middle of the field.</p>

    <h2>Previous Years</h2>
    <p>In the 2011 FIRST Robotics Competition, MorTorq competed in “Logo Motion”. The objective of this game was to place inner tubes that were shaped like the triangle, circle, and square of the FIRST logo onto racks to win points, and, in the endgame, to deploy a smaller robot that climbed a pole.</p>
    <p>In 2010, MorTorq competed in the FRC game “Breakaway.” In this game, Robots drove over bumps in the field, navigated through tunnels, suspended themselves and other robots on towers, and directed soccer balls into goals.</p>
    <p>In 2009, MorTorq competed in the FRC game “Lunacy”. The objective of this game was to place as many game pieces as possible into the opposing side’s trailer in the allotted time.</p>
    <p>In 2008, “FIRST Overdrive” was the FRC game. In this game, teams attempted to do laps around a central barrier while trying to manipulate “trackballs” over and under overpasses for win additional points.</p>
    <p>The 2007 FRC game was “Rack 'n Roll.” In this game, alliances attempted to arrange inflatable game pieces shaped like toroidals on “The Rack”, a large device featuring three levels of hanging metal bars.</p>
    <p>In 2006, MorTorq competed in the FRC game “Aim High.” In “Aim High,” alliances scored points by shooting balls into goals and arranging their robots into certain positions on the playing field.</p>
    <p>In 2005, the FRC game was called “Triple Play.” The objective of this game was to place the game pieces, “Tetras,” in rows of three on large goals.</p>
  </div>
</div>
