<% title "Car Show" %>
<% page_class "outreach" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", outreach_path, :class => "back" %>
    <%= link_to "Forward", ttc_path, :class => "forward" %>
    <%= image_tag "outreach/car-show.jpeg", :alt => "Car Show" %>
  </section>

  <section class="information">
    <h1>Car Show</h1>
    <p>During past seasons, Team 1515 participated in the Classics for Charity Car Show, a charity function that raises money for a local education foundation. The team helped raise $50,000, attending corporate planning meetings, submitting ideas, and providing artwork and designs for promotional materials. The team also interacted with the community during the event. MorTorq team members worked in various booths and exhibited our robot to promote the team and FIRST. Children and adults visited us in droves, and even took turns driving one of our VEX Robots.</p>
  </section>
</section>
