<% title "Cedars Sinai Hospital & Mattel Children's Hospital" %>
<% page_class "outreach" %>

<div class="carousel">
  <section class="banner">
    <%= link_to "Back", k8_contest_path, :class => "back" %>
    <%= link_to "Forward", hm_breakfast_path, :class => "forward" %>
    <%= image_tag "outreach/cedars.jpeg", :alt => "Cedars Sinai Hospital & Mattel Children’s Hospital" %>
  </section>

  <section class="information">
    <h1>Cedars Sinai Hospital &amp; Mattel Children's Hospital</h1>
    <p>Reaching out to the younger community is an integral part of Team 1515's ideology. We spent the week before the holiday season making cards for the pediatric ward of Cedars Sinai. In past years, we have decorated the playrooms of the ward. We also went from room to room and visited all the children, giving each one their own handmade card. In addition, we had brought along a robot with the hopes of letting them see how fun robotics can be. Sadly, this year we were unable to go due to an outbreak of the flu and other diseases. Whether we can visit or not, every year MorTorq makes Christmas, Hannukah, and Valentine’s Day cards for the kids at Cedars-Sinai Hospital and Mattel’s Children’s Hospital, to lift their spirits and let them know that someone is on their side.</p>
  </section>
</div>
