<% title "Engineering Day" %>
<% page_class "outreach" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", rmd_charities_path, :class => "back" %>
    <%= link_to "Forward", mda_path, :class => "forward" %>
    <%= image_tag "outreach/engineering-day.jpeg", :alt => "Engineering Day" %>
  </section>

  <section class="information">
    <h1>Engineering Day</h1>
    <p>MorTorq's educational outreach is not limited to the Beverly Hills High School campus. In 2006, middle school students from all four Beverly Hills public schools competed against each other in a VEX competition designed by MorTorq members to excite them about the engineering process. In order to purchase parts, tools, and playing field material for the teams, MorTorq team members raised $4,000. A kickoff lunch was staged with 50 middle school students. At the kickoff, team leaders discussed the purpose of FIRST and rules to the VEX competition. The students had 10 weeks to build a working robot. MorTorq members came to their schools twice a week to help mentor and aid in the building process. On May 25, 2006 the VEX teams assembled in the high school gym to compete during MorTorq's first Engineering Day. Representatives from MorTorq corporate sponsors were on hand to teach the kids and their parents about engineering. The event was a huge success and resulted in a large influx of interest in the program by middle school students, their parents, and the community as a whole.</p>
  </section>
</section>
