<% title 'Funding' %>

<h1>Funding</h1>

<figure class="banner">
  <%= image_tag 'funding.jpg', :alt => "Sharky's fundraiser" %>
</figure>

<section>
  <h2>BHEF</h2>
  <p>The Beverly Hills Education Foundation's mission is to maintain EXCELLENCE in the Beverly Hills Unified School District (BHUSD) through a community partnership that raises revenue to supplement public funding of education. Funds raised are donated to the District to help offset budget deficits. The Beverly Hills Education Foundation (BHEF), an outgrowth of the earlier Hawthorne Fund, was formed as a State Supreme Court decision Serrano vs. Priest which equalized funding for schools. Soon after, California voters passed Proposition 13, which reduced property taxes and shifted control of all California public school budgets from the local to the state level. The Beverly Hills Education Foundation (BHEF) is governed by a Board of Directors, comprised of Beverly Hills residents, community leaders and volunteers deeply concerned about preserving the EXCELLENCE in the Beverly Hills School System.</p>
</section>

<section>
  <h2>ROP</h2>
  <p>LACOROP is accredited by the Western Association of Schools and Colleges (WASC), and is governed by the Los Angeles County Board of Education. In cooperation with twenty-three school districts, LACOROP determines and meets both the career objectives of students and the labor market needs in Los Angeles County. District steering committee representatives provide direction for LACOROP programs operated within their schools. LACOROP partners with business representatives who participate on advisory committees to assure that occupational courses are based upon needs of the business or industry and to provide students with on-the-job training. LACOROP also works with private post-secondary schools, community college districts, labor organizations, and employment agencies to help us deliver our mission.</p>
</section>

<section>
  <h2>CPK Fundraiser</h2>
  <p>The California Pizza Kitchen restaurant (located on Beverly Drive) is the place to be if you are a robotics supporter. During the past few years, MorTorq has a fundraiser night at CPK. This is basically how it works: people go there, order food, enjoy themselves, and give the servers our fundraiser flyers when they pay their bill. A portion of their meals cost is then given to the robotics program. Thanks to the success of this event, CPK has asked us to return monthly to continue to raise our much needed funds. Our events are fun and team members enjoy hanging out at the restaurant where the food is good and the social atmosphere is even better.</p>
</section>

<section>
  <h2>Normapalooza</h2>
  <p>Spreading the Mortorq pride and robotics passion, Beverly's Robotics Team participated in Club Days and Normapalooza to start off another successful year. During Club Days, team members represented the team with their Mortorq t-shirts, encouraging students to sign up with enthusiasm. Though the traditional Club Week was shortened to Club Days this year, the team still recruited over 30 new members. Team members also sold tickets for a fundraiser at Marty's Hamburger Stand. "I was very excited to meet the new, young, inexperienced, and interested students," Building Captain Angel Say said. During Normapalooza, team members sold burritos donated from Sharkey's Wood Fired Mexican Grill for four tickets each. The team made over $100 from this event. "It was really great," senior Roxy Ardebilchi said. "Robotics was booming with delicious burritos." The Robotics team had a great start-off to the 2008-2009 school year and is extremely excited for the upcoming season.</p>
</section>