<% title "Horace Mann Welcome Breakfast" %>
<% page_class "outreach" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", cedars_path, :class => "back" %>
    <%= link_to "Forward", other_outreach_events_path, :class => "forward" %>
    <%= image_tag "outreach/horace-mann.jpeg", :alt => "Horace Mann Welcome Breakfast" %>
  </section>

  <section class="information">
    <h1>Horace Mann Welcome Breakfast</h1>
    <p>On September 12, 2010, the Beverly Hills High School Robotics team attended the Horace Mann "Get to Know You" Breakfast. The breakfast featured many booths, including our own. The MorTorq booth advertised new robotics programs being offered at Horace Mann this year. Team 1515 displayed its VEX robot, a robot similar to the robots that will be created in the new programs. Kids and parents alike approached the MorTorq booth and asked questions about the two programs currently made available: Middle School Robotics Team, for 6th-8th graders, and Science Olympiad, for 4th -8th graders. The kids had a blast taking turns controlling the robot and talking with the high school team members about the program. Both programs are scheduled to last 3 months, with meetings around once a week. MorTorq's president, Alex Kern (12), spoke at the event, explaining to the attendees the importance of science and technology in schools and the goal of the programs. The programs seek to introduce elementary and middle school to the world of science and technology early on, and to hopefully motivate them to want to continue on with the program until they join the high school team at BHHS. The event was a huge success, with lots of students signing up for both programs. MorTorq looks forward to a great year, full of growth and success with the Middle School Robotics Team and the Science Olympiad!</p>
  </section>
</section>
