<% title "K-8 School Contest" %>
<% page_class "outreach" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", mda_path, :class => "back" %>
    <%= link_to "Forward", cedars_path, :class => "forward" %>
    <%= image_tag "outreach/k-8-contest.jpeg", :alt => "K-8 School Contest" %>
  </section>

  <section class="information">
    <h1>K-8 School Contest</h1>
    <p>A few years ago, MorTorq began The Design-A-Robot and Design-A-Rollercoaster contests, which were very successful. The top winners got to work alongside the team members from Team 1515. Due to the quality of all the entries, BHHS Robotics decided that all entries were winners and that every student that submitted an entry would be invited to a Future Engineer Day. It was great for the team to be able to share their interest and knowledge of FIRST and engineering with younger students and also to be looked up to as role models.</p>
  </section>
</section>
