<% title "Muscular Dystrophy Association" %>
<% page_class "outreach" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", engineering_day_path, :class => "back" %>
    <%= link_to "Forward", k8_contest_path, :class => "forward" %>
    <%= image_tag "outreach/mda.jpeg", :alt => "Muscular Dystrophy Association" %>
  </section>

  <section class="information">
    <h1>Muscular Dystrophy Association</h1>
    <p>A cause very dear to the hearts of our team members is the fight against Muscular Dystrophy, which has afflicted the life of one of our alumni. Inspired to learn more and make a difference, our team has been fundraising and spreading the word about MDA for many years. In June 2007, we organized a Spare Change Drive to raise money for The Muscular Dystrophy Association (MDA). It was very successful and helped to raise over $1200 for the cause. In September 2007, our team was invited to participate in the Jerry Lewis Telethon for MDA, further aiding to fund necessary research. We were honored by the opportunity and were very pleased with the support we received in our fight to end MD. In 2008, Team 1515 and the BHHS Service learning class participated in the 20th annual "Shamrocks Against Dystrophy Drive,” raising about $600. This year, for the third year in a row, team members walked in the MDA Walk at CBS Studios.</p>
  </section>
</section>
