<% title "Outreach" %>
<% page_class "Other Outreach Events" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", hm_breakfast_path, :class => "back" %>
    <%= link_to "Forward", outreach_path, :class => "forward" %>
    <%= image_tag "outreach/other.jpg", :alt => "Other Outreach Events" %>
  </section>

  <section class="information">
    <h1>Other Outreach Events</h1>

    <h2>Albion Street</h2>
    <p>This year, several MorTorq team members collaborated with the Beverly Hills High School Service Learning class to hand out Christmas presents to children at Albion Street Elementary School following a school-wide toy drive.</p>

    <h2>Sock Drive</h2>
    <p>From December 5, 2012 to December 16, Robotics members engineered and managed a district-wide sock drive incorporating the high school and district middle schools. Members traveled to each middle school, solicited new sock donations, posted and passed out flyers, and delivered the sock donations to the Salvation Army in Los Angeles.</p>

    <h2>AIDS Project Los Angeles</h2>
    <p>This year, for the third year in a row, MorTorq volunteered with the Aids Project Los Angeles at the LA AIDS Walk. Team members served in all sorts of capacities, from registering walkers to cheering on participants and writing receipts to support the search for a cure.</p>

    <h2>Darfur Dream Team</h2>
    <p>For our third year this year, MorTorq is proud to be a sister school to the Obama School in Sudan, Chad, through the Darfur Dream Team Foundation. The Darfur Dream Team Foundation supplies textbooks and other important supplies to schools for refugees from Darfur living in camps in Chad. MorTorq is proud to represent FIRST to these refugees abroad, and this year held a schoolwide fundraiser to benefit the Foundation.</p>

    <h2>Hygiene Drive</h2>
    <p>To start the New Year clean, MorTorq held a January Hygiene drive to benefit West Los Angeles PATH (People Assisting The Homeless). MorTorq placed collection boxes in each of the high school’s counseling offices and the main office, posted flyers around the school, and gave presentations to classes to solicit donations. MorTorq delivered hundreds of hygiene items to a very happy PATH staff!</p>

    <h2>Restaurant Fundraisers</h2>
    <p>To cover competition costs, the team holds fundraisers at both CPK and Sharkey’s, where members of the team and community dine, have fun, and contribute at the same time.</p>

    <h2>BH Proclamation</h2>
    <p>Whereas, for three years the Beverly Hills High School Robotics Team has participated in numerous science and technology competitions and events, winning many awards and accolades; and</p>
    <p>Whereas, members of the Beverly Hills High School Robotics Team are involved in many science and technology projects and learn skills in web design, animation, computer programming, engineering, television production and writing: and</p>
    <p>Whereas, the Beverly Hills High School Robotics Team has raised money for worthy causes and taught in workshops, inspiring young people to excel in math, engineering, science and technology.</p>
    <p>Now, Therefore, I Stephen P. Webb, Mayor of the City of Beverly Hills, do hereby congratulate the Beverly Hills High School Robotics Team on its many awards and accomplishments, and further reconize the team's important role in encouraging excellence in science and technology,</p>
    <p>Stephen P. Webb, Mayor</p>
  </section>
</section>
