<% title 'Outreach' %>

<h1>Outreach</h1>

<section>
  <h2>Car Show</h2>
  <p>Last Fall and for the last 4 years, Team 1515 participated in the Classics for Charity Car Show with their sponsor The BHEF. The objective of the car show was to raise money for the local education foundation, which supplements funding for public schools. The team helped raise $50,000 at last year's event and hopes to exceed that performance in the future. Team members attend corporate planning meetings, submit ideas, and provided artwork and designs for promotional materials. The team also interacted with the community during the event. MorTorq team members worked in various booths and exhibited our robot in order to promote itself and FIRST. Children and adults visited us in droves, and even took turns driving our award winning VEX Robot.</p>
</section>

<section>
  <h2>TTC</h2>
  <p>MorTorq believes in reaching out to kids to inspire them with science and engineering. One way we do this is through presentations and assistance at PlanetBravo's Techno-tainment camp. Last year, we displayed our award winning robot along with some videos as a surprise seminar for the campers for eight weeks. We also assisted in the robotics courses that concentrated on the Vex platform. MorTorq has developed a strong relationship with the camp and plans on continuing to help out and make presentations.</p>
</section>

<section>
  <h2>JPL</h2>
  <p>Following the 2005 FIRST Robotics season, Team 1515 volunteered to help out at the JPL Open House. Team MorTorq set up a display and demonstrated their robot to anyone who was interested. MorTorq was set up next to five other gracious Southern California teams. Team 1515 worked all day and helped spread the message of FIRST.</p>
</section>

<section>
  <h2>Ronald McDonald House Charities</h2>
  <p>The team is collecting soda can pop tabs to donate them to the Ronald McDonald foundation in order to generate pure aluminum and help kids in need. Ronald McDonald Houses collect pop tabs instead of entire aluminum cans because the tabs are pure high-quality aluminum, unlike cans, which consist of aluminum and other alloys. Tabs are also easier to store than whole cans.</p>
</section>

<section>
  <h2>Engineering Day</h2>
  <p>MorTorq's educational outreach is not limited to the Beverly Hills High School campus. In 2006, middle school students from all four Beverly Hills public schools competed against each other in a VEX competition designed by MorTorq members to excite them about the engineering process. In order to purchase parts, tools, and playing field material for the teams, MorTorq team members raised $4,000. A kickoff lunch was staged with 50 middle school students. At the kickoff, team leaders discussed the purpose of FIRST and rules to the VEX competition. The students had 10 weeks to build a working robot. MorTorq members came to their schools twice a week to help mentor and aid in the building process. On May 25, 2006 the VEX teams assembled in the high school gym to compete during MorTorq's first Engineering Day. Representatives from MorTorq corporate sponsors were on hand to teach the kids and their parents about engineering. The event was a huge success and resulted in a large influx of interest in the program by middle school students, their parents, and the community as a whole.</p>
</section>

<section>
  <h2>BH Proclamations</h2>
  <p>
    <em>Whereas</em>, for three years the Beverly Hills High School Robotics Team has participated in numerous science and technology competitions and events, winning many awards and accolades; and<br />
    <em>Whereas</em>, members of the Beverly Hills High School Robotics Team are involved in many science and technology projects and learn skills in web design, animation, computer programming, engineering, television production and writing: and<br />
    <em>Whereas</em>, the Beverly Hills High School Robotics Team has raised money for worthy causes and taught in workshops, inspiring young people to excel in math, engineering, science and technology.<br />
    <em>Now, Therefore</em>, I Stephen P. Webb, Mayor of the City of Beverly Hills, do hereby congratulate the Beverly Hills High School Robotics Team on its many awards and accomplishments, and further reconize the team's important role in encouraging excellence in science and technology,<br />
    Dated: February 20, 2007<br /><br />
    Stephen P. Webb, Mayor
  </p>
</section>

<section>
  <h2>MDA</h2>
  <p>A cause very dear to the hearts of our Robotics team members is the fight against Muscular Dystrophy, which has afflicted the life of one of our members. Inspired to learn more and make a difference, our team has been fundraising and spreading the word. In June 2007, we organized a Spare Change Drive to raise money for The Muscular Dystrophy Association (MDA). It was very successful and helped to raise over $1200 for the cause. In September, our team was invited to participate in the Jerry Lewis Telethon for MDA, further aiding to fund necessary research. We were honored with such an opportunity and were very pleased with the support we received. Moreover, our goal to spread the word and raise money has been furthered by the creation of an online support group, set up by member Adam Phillips through facebook.com. Thanks to our team as well as recruits from all over the world, the group has grown to include over 8,500 members! This year, we plan to spread the word in other ways and raise more money for MDA. We are very excited to continue our involvement and hope we will inspire many others to join our cause.</p>
  <p>In conjunction with our ongoing efforts to help cure Muscular Dystrophy, in 2008, Team 1515 and the BHHS Service learning class participated in the 20th annual "Shamrocks Against Dystrophy Drive". Team 1515 are dedicated to raising money to help find a cure for all forms of muscular dystrophy. Approximately, $600 was raised in this fundraiser. The money will go towards finding a cure and setting up summer camps and clinics for the families of those suffering from Muscular Dystrophy.</p>
</section>

<section>
  <h2>Bomb Squad Robot</h2>
  <p>This Summer our robotics team will hopefully begin fabricating a prototype bomb squad robot for the Los Angeles Police Department. Our team will be responsible for raising all the necessary funding and working with law enforcement in order to meet certain specifications required to perform required tasks. Last year we began work on this project and met with many of the specialists from the LAPD Bomb Squad. Unfortunatly, this project is currently on hold as we are having a great deal of difficulty raising the money just to keep our own team in existence. We continue to explore various funding sources for this project and hope to have some new sponsors soon!! It is our team's hope that this project will inspire other teams to dedicate their free time to helping make their communities safer and better places to live.</p>
</section>

<section>
  <h2>K-8 School Contest</h2>
  <p>The Design-A-Robot and Design-A-Rollercoaster contests were very successful. The top winners were supposed to come work alongside the team members from Teams 1515 and 161. Due to the quality of all the entries, BHHS Robotics has decided that all entries were winners and that every student that submitted an entry will be invited to a Future Engineer Day.</p>
  <p>This year, the Robotics Team put together a Design-Your-Own-Robot Contest for our four local elementary schools. Similarly, for the four middle schools, they put together a more complex Design-Your-Own-Roller-Coaster Contest. Hoping to spark childrenís interest in the fields of science and engineering, they worked hard to create a set of rules and guidelines to give the kids a realistic approach to modern technology. The team's builders and business members cooperated enthusiastically to exhibit the different approaches that the children could use to complete this assignment creatively. The response the team received from the children has been incredible. Many students rushed to share their ideas of robots or roller coasters with the team. The winners of the contests will have a chance to work with Team MorTorq, and learn how the team is run. Itís great for the team to be able to share their interest and knowledge of FIRST and engineering with younger students and also to be looked up to as role models. The team looks forward to continuing this contest every year to get elementary and middle schoolers involved in the high school FIRST Robotics program.</p>
</section>

<section>
  <h2>Cedars Sinai</h2>
  <p>Reaching out to the younger community is an integral part of Team 1515's ideology, so we spent some time making cards for children at Cedars-Sinai Hospital the week of February 2nd. On February 5, 2009 to spread Valentine's Day cheer, we drove down to hand out our cards to children in the pediatric ward. We received a warm welcome from the hospital staff, who helped us decorate the play-room in the ward. A group of us used bright paints to decorate the room for youngsters just in time for the holiday. We painted on the glass windows and stuck hearts and valentines to the cabinets. A lot of creativity and cooperation resulted in a beautifully decorated play-area for the children in the ward. We also went room to room and visited all the children giving each child their own hand-made valentine. In addition, we brought along a robot to show them with the hopes of letting them see how fun robotics can be. When the visit to Cedars-Sinai was over, we left knowing that we had brightened somebody's day.</p>
  <p>Community service is an important aspect of MorTorq Team 1515's philosophy. On December 22, 2008, the team visited the pediatric ward of Cedars-Sinai Hospital. In honor of the holiday season, we brought gifts to the children who aged from infancy to eighteen years old. Also, we showed them our Tech robot and some of the kids even drove it! The most gratifying parts of the visit were seeing the children's faces light up and sharing in conversation. There weren't many kids in the hospital on the 22nd, so we brought the extra gifts to the Gramercy House. The Gramercy House is an organization for single mothers with a child under the age of five. The house provides living quarters for the mothers and children, but only if the mother agrees to go to school and/or get a job. On December 24, 2008, the team went to a local middle school, El Rodeo, to assist in making lunch packs for the homeless. Members of the team made sandwiches, while others decorated holiday cards and assembled the lunch bags. All of the community service we did over the holiday season is sure to bring smiles to the faces of many individuals.</p>
</section>

<section>
  <h2>Apple Harvest Fair</h2>
  <p>Team members voluneered to work at various booths and rides at this city sponsored fair. We helped raise mony for the BHEF.</p>
</section>

<section>
  <h2>Christmas Giving</h2>
  <p>Team Toy Drive and as a result we were able to donate over 100 gifts to patients and families at the homeless shelter. Our team members visisted children at the Pediatric Ward at Cedar Sinai Hospital, we gave candy to all of the staff, spent time with many of the patients and their family, while giving them gifts, and we demonstrated our VEX robot and we even let the children play with it. On top of that, our team dontated to Gramercy, which is a homeless shelter for single parents and children ages 5 and younger.</p>
</section>

<section>
  <h2>Sandwich Making for Homeless</h2>
  <p>Team members went to a local middle school, EL ROdeo, where people from all over the community came together to make sandwiches for the homeless. Our team members and parents helped make sandwiches, Westside Food Coalition helped provide us with the needed ingredients.</p>
</section>

<section>
  <h2>Albion Street</h2>
  <p>A few MorTorq team members went along with Beverly Hill's High School to hand out Christmas presents to children less fortunate at Albion Street Elementary School.</p>
</section>