<% title "Outreach" %>
<% page_class "outreach" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", other_outreach_events_path, :class => "back" %>
    <%= link_to "Forward", car_show_path, :class => "forward" %>
    <%= image_tag "outreach/outreach.jpg", :alt => "Outreach" %>
  </section>

  <section class="information">
    <h1>Outreach</h1>
    <p>For the past eight years, Team 1515 has participated in several community outreach events. Spanning from volunteering at car shows to playing with patients at Cedar Sinai, Mortorq has consistently demonstrated a thirst for community involvement. Our enthusiastic team members have always found a spot in their heart for giving back to the community that gave them so much, and our outreach efforts seem to double each year. Organizations that MorTorq has collaborated with include the Car Show, Techno-tainment Camp, the Ronald McDonald House Charity, the Muscular Dystrophy Association, Aids Project Los Angeles, Cedars Sinai Hospital, Albion Street Schools, PATH Homeless Shelter, the Salvation Army, the Darfur Dream Team, and many more.</p>
  </section>
</section>
