<% title "Outreach" %>
<h1>Outreach:</h1>
<section>  
<h2>Overview:</h2> <p> For the past eight years, Team 1515 has participated in several community outreach events. Spanning from volunteering at car shows to playing with patients at Cedar Sinai, Mortorq has consistently demonstrated a thirst for community development. Our enthusiastic team members have always found a spot in their heart for giving back to the community that gave them so much. Some of the events that Mortorq members have participated in include the Car Show, Techno-tainment Camp, Jet Propulsion Laboratory, Ronald McDonald House Charity, Muscular Dystrophy, Cedars Sinai, Apple Harvest Fair, and much more.</p>
</section>
<section>  
<h2>Car Show:</h2> <p> During past seasons, Team 1515 participated in the Classics for Charity Car Show with their sponsor The BHEF. The objective of the car show was to raise money for the local education foundation, which supplements funding for public schools. The team helped raise $50,000 during past events. Team members attended corporate planning meetings, submitted ideas, and provided artwork and designs for promotional materials. The team also interacted with the community during the event. MorTorq team members worked in various booths and exhibited our robot in order to promote the team and FIRST as well. Children and adults visited us in droves, and even took turns driving our award winning VEX Robot.</p>
</section>
<section>  
<h2>TTC:</h2> <p> MorTorq believes in reaching out to kids to inspire them with science and engineering. One way we do this is through presentations and assistance at PlanetBravo's Techno-tainment camp. We displayed our award winning robot along with some videos to the campers during the multiple sessions of the camp. We also assisted in the robotics courses that concentrated on the Vex platform. MorTorq has developed a strong relationship with the camp and plans on continuing to help out and make presentations. </p>
</section>
<section>  
<h2>JPL:</h2> <p> For many years, Team 1515 had volunteered to help out at the JPL Open House. Team MorTorq used to set up a display and demonstrate their robot to anyone who was interested. MorTorq was set up next to five gracious Southern California teams. Team 1515 worked all day to help spread the message of FIRST.</p>
</section>
<section>  
<h2>Ronald McDonald House Charities:</h2> <p> The team has collected several thousand soda cans over the span of several robotics seasons, and each year we donate all of the money we raise from recycling the cans to the Ronald McDonald House Charities. Several team members crush the soda cans with “The Crusher” and our donations average around $150 each year. Everyone on Team 1515 enjoys seeing the faces of the kids when we show up small VEX robot for them to play with. We also provide a large dinner for all of the kids at Ronald McDonald each time we come. Our selection ranges from our team members delicious garlic bread to a saucy spaghetti, all food being prepared freshly on site.</p>
</section>
<section>  
<h2>Engineering Day:</h2> <p> MorTorq's educational outreach is not limited to the Beverly Hills High School campus. In 2006, middle school students from all four Beverly Hills public schools competed against each other in a VEX competition designed by MorTorq members to excite them about the engineering process. In order to purchase parts, tools, and playing field material for the teams, MorTorq team members raised $4,000. A kickoff lunch was staged with 50 middle school students. At the kickoff, team leaders discussed the purpose of FIRST and rules to the VEX competition. The students had 10 weeks to build a working robot. MorTorq members came to their schools twice a week to help mentor and aid in the building process. On May 25, 2006 the VEX teams assembled in the high school gym to compete during MorTorq's first Engineering Day. Representatives from MorTorq corporate sponsors were on hand to teach the kids and their parents about engineering. The event was a huge success and resulted in a large influx of interest in the program by middle school students, their parents, and the community as a whole.</p>
</section>
<section>  
<h2>BH Proclamations:</h2><br />
    <pre>Whereas, for three years the Beverly Hills High School Robotics Team has participated in numerous science and technology competitions and events, winning many awards and accolades; and<br />
    Whereas, members of the Beverly Hills High School Robotics Team are involved in many science and technology projects and learn skills in web design, animation, computer programming, engineering, television production and writing: and<br />
    Whereas, the Beverly Hills High School Robotics Team has raised money for worthy causes and taught in workshops, inspiring young people to excel in math, engineering, science and technology.<br />
    Now, Therefore, I Stephen P. Webb, Mayor of the City of Beverly Hills, do hereby congratulate the Beverly Hills High School Robotics Team on its many awards and accomplishments, and further reconize the team's important role in encouraging excellence in science and technology,<br />
    Dated: February 20, 2007<br />
    Stephen P. Webb, Mayor</pre><br />
</section>
<section>  
<h2>MDA:</h2> <p> A cause very dear to the hearts of our Robotics team members is the fight against Muscular Dystrophy, which has afflicted the life of one of our alumni. Inspired to learn more and make a difference, our team has been fundraising and spreading the word for many years. In June 2007, we organized a Spare Change Drive to raise money for The Muscular Dystrophy Association (MDA). It was very successful and helped to raise over $1200 for the cause. In September, 2007,, our team was invited to participate in the Jerry Lewis Telethon for MDA, further aiding to fund necessary research. We were honored with such an opportunity and were very pleased with the support we received.In conjunction with our ongoing efforts to help cure Muscular Dystrophy, in 2008, Team 1515 and the BHHS Service learning class participated in the 20th annual "Shamrocks Against Dystrophy Drive". Approximately, $600 was raised in this fundraiser. The money will go towards finding a cure and setting up summer camps and clinics for the families of those suffering from Muscular Dystrophy. This year, team mebers walked in MDA Walk at CBS Studioes. Team 1515 is dedicated to raising money to help find a cure for all forms of muscular dystrophy.</p>
</section>
<section>  
<h2>Bomb Squad Robot:</h2> <p> This summer our robotics team will hopefully begin fabricating a prototype bomb squad robot for the Los Angeles Police Department. Our team will be responsible for raising all the necessary funding and working with law enforcement in order to meet certain specifications required to perform required tasks. Last year we began work on this project and met with many of the specialists from the LAPD Bomb Squad. Unfortunately, this project is currently on hold as we are having a great deal of difficulty raising the money just to keep our own team in existence. We continue to explore various funding sources for this project and hope to have some new sponsors soon!! It is our team's hope that this project will inspire other teams to dedicate their free time to helping make their communities safer and better places to live.</p>
</section>
<section>  
<h2>K-8 School Contest:</h2> <p> A few years ago, MorTorq began The Design-A-Robot and Design-A-Rollercoaster contests, which were very successful. The top winners were supposed to come work alongside the team members from Teams 1515 and 161. Due to the quality of all the entries, BHHS Robotics had decided that all entries were winners and that every student that submitted an entry will be invited to a Future Engineer Day. Last year, the Robotics Team put together a Design-Your-Own-Robot Contest for our four local elementary schools. Similarly, for the four middle schools, they put together a more complex Design-Your-Own-Roller-Coaster Contest. Hoping to spark children´s interest in the fields of science and engineering, they worked hard to create a set of rules and guidelines to give the kids a realistic approach to modern technology. The team's builders and business members cooperated enthusiastically to exhibit the different approaches that the children could use to complete this assignment creatively. The response MorTorq received from the children was been incredible. Many students had rushed to share their ideas of robots or roller coasters with the team. The winners of the contests had a chance to work with Team MorTorq, and learned how the team is run. It was great for the team to be able to share their interest and knowledge of FIRST and engineering with younger students and also to be looked up to as role models.</p>
</section>
<section>
  <h2>Cedars Sinai:</h2> <p> Reaching out to the younger community is an integral part of Team 1515's ideology, so we so spent the week before the holiday season making cards for the children’s ward of Cedars Sinai. In past years, we have decorated the rooms of the the children’s ward. We also had went room to room and visited all the children, giving each child their own hand-made card. In addition, we had brought along a robot with the hopes of letting them see how fun robotics can be. Sadly, this year we were unable to go due to the outbreak of swine and flu and other diseases, but we hope to visit later on this year, possibly to deliver home-made Valentine Day’s cards.</p><br />
<p>Annually, MorTorq makes Christmas, Hannukah, and Valentine’s Daycards for kids at Cedars-Sinai. Robotics team visits Cedars-Sinai to deliver the cards and to decorate kid’s room. Team also delivered cards to kids at Mattel Children’s Hospital UCLA. </p>
</section>
<section
  <h2>Apple Harvest Fair:</h2> <p> In the past years, team members volunteered to work at various booths and rides at this city sponsored fair. We helped raise money for the BHEF.</p>
</section>
<section>
  <h2>Horace Mann Welcome Breakfast:</h2> <p>On Sunday September 12, 2010, the Beverly Hills High School Robotics team attended the Horace Mann "Get to Know You" Breakfast. The breakfast featured many booths, including our own. The MorTorq booth advertised new robotics programs being offered at Horace Mann this year. Team 1515 displayed its VEX robot -a robot similar to the robots that will be created in the new programs. Kids and parents alike approached the MorTorq booth and asked questions about the two programs currently made available: Middle School Robotics Team, for 6th-8th graders, and Science Olympiad, for 4th -8th graders. The kids had a blast taking turns controlling the robot and talking with the high school team members about the program. Both programs are scheduled to last 3 months, with meetings around once a week. MorTorq's president, Alex Kern (12), spoke at the event, explaining to the attendees the importance of science and technology in schools and the goal of the programs. The programs seek to introduce elementary and middle school to the world of science and technology early on, and to hopefully motivate them to want to continue on with the program till they join the high school team at BHHS. The event was a huge success, with lots of students signing up for both programs. MorTorq looks forward to a great year full of growth and success with the Middle School Robotics Team and the Science Olympiad!</p>
</section>
<section>
  <h2>Albion Street:</h2> <p>A few MorTorq team members went along with Beverly Hill's High School to hand out Christmas presents to children less fortunate at Albion Street Elementary School.</p>
</section>
<section>
<h2>Sockdrive:</h2> <p> From December 5, 2012 to December 16, Robotics have worked to collect new pairs of socks  with Beverly Vista, El Rodeo, Horace Mann, and Hawthorne to donate socks to children in Salvation Army. Members of Robotics promoted the donation by posting and passing out flyers and posters to middle schools and collected 142 pairs of socks!</p>
</section>
<section>
<h2>APLA: </h2> <p> When MorTorq volunteers with APLA at the AIDS Walk, members are assigned all kinds of jobs--from registering and cheering on walkers to righting receipts.</p>
</section>
<section>
<h2>Hygiene Drive:</h2> <p> To start the New Year clean, MorTorq held a hygiene drive to benefit West Los Angeles PATH (People Assisting The Homeless).</p> 
</section>
<section>
<h2>Fundraisers with resturants:</h2><p> To cover competition costs, the team has fundraisers at both CPK and Sharkey’s, where members of the team and community dine and contribute at the same time.</p>
</section>
<section>
<h2>Sharkey’s:</h2> <p> MorTorq’s members smashed avocados to make guacamole. A portion of the night’s proceeds went toward the team.</p>
</section>
<section>
<h2>CPK:</h2> <p> MorTorq regularly holds fundraisers. Diners who present their waiter with a flier can donate a percentage of their bill to the BHHS Robotics team.</p>
</section>
<section>
<h2>Cedars-Sinai holiday thingy:</h2> <p> Annually, MorTorq makes Christmas, Hannukah, and Valentine’s Daycards for kids at Cedars-Sinai. Robotics team visits Cedars-Sinai to deliver the cards and to decorate kid’s room. Team also delivered cards to kids at Mattel Children’s Hospital UCLA.</p> 
</section>