<% title "Ronald McDonald House Charities" %>
<% page_class "outreach" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", ttc_path, :class => "back" %>
    <%= link_to "Forward", engineering_day_path, :class => "forward" %>
    <%= image_tag "outreach/ronald-mcdonald.jpeg", :alt => "Ronald McDonald House Charities" %>
  </section>

  <section class="information">
    <h1>Ronald McDonald House Charities</h1>
    <p>MorTorq has been collaborating with the Ronald McDonald House for over six years now. The team has collected several thousand recyclables over the span of several robotics seasons, and each year we use the money we raise from recycling the cans to purchase food to prepare several meals at the Ronald McDonald House Charities. Everyone on Team 1515 enjoys seeing the faces of the kids when we show up with a small VEX robot for them to play with, color pictures of robots, and talk about science with the kids.</p>
  </section>
</section>
