<% title "TechnoTainment Camp" %>
<% page_class "outreach" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", car_show_path, :class => "back" %>
    <%= link_to "Forward", rmd_charities_path, :class => "forward" %>
    <%= image_tag "outreach/ttc.jpeg", :alt => "TechnoTainment Camp" %>
  </section>

  <section class="information">
    <h1>TechnoTainment Camp</h1>
    <p>MorTorq believes in reaching out to kids to inspire them with science and engineering. One way we do this is through presentations and assistance at PlanetBravo's Techno-tainment camp. We displayed our award-winning robot to the campers during multiple sessions of the camp and assisted with the robotics courses concentrating on the Vex platform. MorTorq has developed a strong relationship with the camp over the years and we look forward to continuing our involvement with its campers and staff.</p>
  </section>
</section>
