<% title 'Awards' %>

<h1>Awards</h1>

<section>
  <h2>2009-2010 Awards</h2>
  <section>
    <h3>Chairman's Award - (Los Angeles, CA)</h3>
    <p>The Regional Chairmans Award was created to keep the central focus of the FIRST Robotics Competition on FIRST's ultimate goal of transforming our culture in ways that will inspire greater respect for science and technology, and to encourage more young people to appreciate the real life rewards and career opportunities in those fields.</p>
    <p>The Regional Chairman's Award honors the team that, in the judges' estimation, best represents a model for other teams to emulate, and which embodies the goals and purpose of FIRST. It is the most prestigious award presented at this regional competition.</p>
    <p>The winner of this award will be invited to the <abbr>FIRST</abbr> Championship this year in Atlanta, where it will compete against the winners from all the other regional events for the Championship Chairman's Award.</p>
    <p>Here is what the judges had to say about Team 1515:</p>
    <ul>
      <li>This year's Regional Chairman's award winner has truly embodied the goals of FIRST, with a large team working as a business, dividing roles into subteams to handle all their goals.</li>
      <li>This team was able to achieve growth, and expanded to almost 100 students. They have 40% female participation. They have expanded their robotics classes into multiple courses.</li>
      <li>This team expanded their outreach efforts, working locally with community groups caring for children; and globally, working with international schools, to support education abroad.</li>
      <li>They have enhanced communication methods; through articles in publications; twitter accounts, facebook groups; blogs, youtube videos, and even TV broadcasts.</li>
      <li>They have mentored Junior <abbr>FIRST</abbr> Lego League teams, and mentored other FIRST Robotics Competition teams. They have taught courses at technology camps to elementary and middle school students.</li>
      <li>They have achieved the Ultimate goal of 'sport of the mind' ; earning school varsity letters for exercising good sportsmanship and gracious professionalism.</li>
      <li>And they continue to inspire respect and honor for science and technology, while they "Go for the G.O.A.L."</li>
    </ul>
  </section>
  <section>
    <h3>Regional Championship - (Portland, OR) </h3>
    <p>Team 1515 won the regional championship at the Autodesk Oregon Regional, going 6-1-1 in the elimination matches.</p>
  </section>
  <section>
    <h3>Motorola Quality Award - (Portland, OR)</h3>
    <p>The Motorola Quality Award is given to a team that demonstrates excellence in industrial design and quality. One distinguishing feature of team 1515 was its innovative touchscreen in the OI.</p>
  </section>
</section>

<section>
  <h2>2008-2009 Awards</h2>
  <section>
    <h3>Received the Safety Award - (Denver, CO)</h3>
    <p>The Safety Award demonstrates excellence in protection and maintenance of a safe environment.</p>
  </section>
  <section>
    <h3>Received the Team Spirit Award - (Denver, CO)</h3>
    <p>The Team Spirit Award recognizes extraordinary enthusiasm and spirit through an exceptional partnership and teamwork. The dynamic mixture of a positive attitude, camaraderie, and motivation lifts this spirited team above the rest of this large group of energetic competitors!</p>
  </section>
  <section>
    <h3>Received the Judges Award - (Los Angeles, CA)</h3>
    <p>The Judges' Award is given to the team that demonstrates unique efforts, performance or dynamics.</p>
  </section>
</section>

<section>
  <h2>2007-2008 Awards</h2>
  <section>
    <h3>Received the FIRST Tech Challenge Connect Award - (Los Angeles, CA)</h3>
    <p>"This award is given to the team that judges feel most connected with their local community and the engineering community. The best team is more than the sum of its parts, and recognizes that their schools and communities play an essential part to their success. The recipient of this award is recognized for helping the community understand FIRST, the FIRST Tech Challenge, and the team itself. In addition, the team that wins this award is aggressively seeking engineers and exploring the opportunities available in the world of engineering, science, and technology."</p>
  </section>
  <section>
    <h3>Achieved FIRST Tech Challenge Winning Alliance Award - (Los Angeles, CA)</h3>
    <p>"This award will be given to the winning alliance represented in the final match of the competition, usually consisting of three team"</p>
  </section>
</section>

<section>
  <h2>2006-2007 Awards</h2>
  <section>
    <h3>Achieved Regional Finalist - (Denver, CO)</h3>
    <p>"The Regional Finalist celebrates the alliance that makes it to the final match of the Regional competition."</p>
  </section>
  <section>
    <h3>Received the DaimlerChrysler Team Spirit Award - (Denver, CO)</h3>
    <p>"The DaimlerChrysler Team Spirit Award recognizes extraordinary enthusiasm and spirit through an exceptional partnership and teamwork. The dynamic mixture of a positive attitude, camaraderie, and motivation lifts this spirited team above the rest of this large group of energetic competitors!</p>
    <p>With the speed of light they are sending FIRST's message to infinity and beyond.</p>
    <p>Their neon brilliance and enthusiasm shines out in a crowd.</p>
    <p>Competition doesn't vex these students, starting a new competition in middle schools.</p>
    <p>They have "Mor" spirit, "Mor" enthusiasm, MorTorq!</p>
    <p>For their outstanding spirit and gracious professionalism, this award goes to Team 1515, MorTorq."</p>
  </section>
  <section>
    <h3>Received the Imagery Award - (Los Angeles, CA)</h3>
    <p>"The Imagery award celebrates attractiveness in engineering and outstanding visual aesthetic integration from the machine to the team appearance. Being creative and original makes this team not only look good, they make FIRST look good!</p>
    <p>This team also extends the imagery of their robotics team beyond the show floor through a marketing approach that focuses on a community outreach program that is designed to attract support for FIRST. These efforts include their You-Tube cable tv show and a multitude of printed materials.</p>
    <p>The Imagery Award is presented to team number #1515, MorTorq from Beverly Hills High School & R.O.P. in Beverly Hills, CA."</p>
  </section>
  <section>
    <h3>Received the Autodesk Visualization Award - (Los Angeles, CA)</h3>
    <p>"The Autodesk Visualization Award is another award that is voted on by your student peers. Your fellow animators have reviewed the entries to determine the team that best recognizes excellence in student animation and clearly and creatively illustrates the spirit of the FIRST Robotics Competition.</p>
    <p>And they have learned just how hard it is to judge when the competition is so tough. The team they have selected to receive the Autodesk Visualization Award is Team #1515, MorTorq from Beverly Hills High School & R.O.P. in Beverly Hills, CA.</p>
    <p>Congratulations to Team #1515."</p>
  </section>
  <section>
    <h3>Received the Website Award - (Los Angeles, CA)</h3>
    <p>"The Website Award recognized excellence in student-designed, built and managed FIRST team websites. Eligible websites were judged and scored prior to this competition by an independent panel of judges.</p>
    <p>The ballots have been counted and an awesome team has been selected to win this award.</p>
    <p>Each year teams work diligently on a website that tells the story of not only their team and its activities but also the meaning of FIRST. The website that judges felt displayed the best design, ease of navigation and depth of content entered for the Los Angeles Regional is Team 1515, MorTorq from Beverly Hills High School & R.O.P. in Beverly Hills CA. Congratulations to Team #1515."</p>
  </section>
</section>

<section>
  <h2>2005-2006 Awards</h2>
  <ul>
    <li>Achieved 2006 SCRRF Pre-Ship Scrimmage Champions</li>
    <li>Achieved 7th Place (Las Vegas, NV)</li>
    <li>Achieved Autodesk Visualization Award (Los Angeles, CA)</li>
    <li>Received Kleiner Perkins Caufield &amp; Byers Entrepreneurship Award (Los Angeles, CA)</li>
    <li>Received Kleiner Perkins Caufield &amp; Byers Entrepreneurship Award (Las Vegas, NV)</li>
    <li>Received Engineering Inspiration Award presented by Team 4</li>
  </ul>
</section>

<section>
  <h2>2004-2005 Awards</h2>
  <ul>
    <li>Received Rookie Inspiration Award (Denver, CO)</li>
    <li>Received Rookie All-Star Award (Los Angeles, CA)</li>
    <li>Won 3rd Place (Denver, CO)</li>
    <li>Won 3rd Place (Los Angeles, CA)</li>
    <li>2nd Highest Rookie Team (Los Angeles, CA)</li>
    <li>Won 2005 Fall Classic Drag Race S.C.R.R.F Award at Chatsworth High School</li>
    <li>Earned Invitation to Atlanta, Georgia International Championships</li>
    <li>64th place in the world (Atlanta, GA)</li>
    <li>Received Rookie Excellence Award from Team 254</li>
    <li>Received Aesthetics Award from Team 22</li>
     <li>Won FIRST Website Excellence award</li>
  </ul>
</section>