#header {
  @include border-radius(5px 5px 0 0);
  @extend .grid-18;
  background: url("logo.gif") no-repeat top left;
  height: 220px;
}

#logo {
  display: block;
  height: 170px;
}

#nav {
  ol {
    width: 800px;
  }

  li {
    @include box-sizing(border-box);
    display: block;
    float: left;
    width: 160px;
    height: 30px;
    text-align: center;
    background: gray;
    @include border-radius(5px 5px 0 0);
    border: 1px solid black;
    border-bottom: 0;
  }
}

#scroller {
  background: gray;
}
