<% Title "Animation %>
<% page_class "animation" %>
 <div class="columns">
  <div class="column-1 ">
  <h1>Animations</h1>
   <p> Here are some animations that were created by the animation group.</p>
   <% link_to "Animation", "http://www.youtube.com/watch?v=lAFp_GkWSP4" %>
   <p> This was for 2011 when an aninmation was needed for the enviroment.</p>
