<% Title "Animation %>
<% page_class "animation" %>
<h1>Animations</h1>
 <div="Column">
 <p> Here are some animations that were created by the animation group.</p>
 <% link_to "Animation", "http://www.youtube.com/watch?v=lAFp_GkWSP4" %>
