<% title 'Documents' %>

<h1>Documents</h1>

<figure class="banner">
  <%= image_tag 'documents.jpg', :alt => 'Reading the game rules' %>
</figure>

<section>
  <h2>Newsletters</h2>
  <ul>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/110117.pdf">January 11, 2011</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/101207.pdf">November 30, 2010</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/101108.pdf">October 31, 2010</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/100222.pdf">February 22, 2010</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/100122.pdf">January 22, 2010</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/100111.pdf">January 11, 2010</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/091112.pdf">November 11, 2009</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/090930.pdf">October 3, 2009</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/080209.pdf">January 31, 2008</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/080116.pdf">January 11, 2008</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/070826.pdf">August 22, 2007</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/070513.pdf">May 11, 2007</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/070404.pdf">March 31, 2007</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/070311.pdf">March 11, 2007</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/070223.pdf">February 22, 2007</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/070215.pdf">February 11, 2007</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/070209.pdf">January 31, 2007</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/070201.pdf">January 31, 2007</a></li>
    <li><a href="http://bhrobotics.s3.amazonaws.com/newsletters/070120.pdf">January 22, 2007</a></li>
  </ul>
</section>