<% title "Documents" %>
  <h2>Chairman’s Award</h2>
<a href="Chairman’s2005.pdf">Chairman’s 2005</a>
<a href=" Chairman’s2006.pdf"> Chairman’s 2006</a>
<a href=" Chairman’s2007.pdf"> Chairman’s 2007</a>
<a href=" Chairman’s2008.pdf"> Chairman’s 2008</a>

  
  <h2>Newsletters</h2>

<p>Several times a month, the BHHS Robotics Team sends out a student-written newsletter that includes all things FIRST. The articles feature team biographies, alumni, up-to-date news, community outreach activities, and information about the latest electronics on the market. As always, there are pictures to aid the valuable information and calendar of events.</p>

<ul class="default">
<li><a href="/files/newsletters/Newsletter010707.pdf">MorTorq Newsletter - Volume 1, Issue 1 (January 07, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter012007.pdf">MorTorq Newsletter - Volume 1, Issue 2 (January 20, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter020107.pdf">MorTorq Newsletter - Volume 1, Issue 3 (February 01, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter020907.pdf">MorTorq Newsletter - Volume 1, Issue 4 (February 09, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter021507.pdf">MorTorq Newsletter - Volume 1, Issue 5 (February 15, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter022307.pdf">MorTorq Newsletter - Volume 1, Issue 6 (February 23, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter031107.pdf">MorTorq Newsletter - Volume 1, Issue 7 (March 1, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter040407.pdf">MorTorq Newsletter - Volume 1, Issue 8 (April 04, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter051307.pdf">MorTorq Newsletter - Volume 1, Issue 9 (May 13, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter082607.pdf">MorTorq Newsletter - Volume 1, Issue 10 (August 26, 2007)</a></li>
<li><a href="/files/newsletters/Newsletter010808.pdf">MorTorq Newsletter - Volume 1, Issue 11 (January 08, 2008)</a></li>
<li><a href="/files/newsletters/Newsletter011608.pdf">MorTorq Newsletter - Volume 1, Issue 12 (January 16, 2008)</a></li>
<li><a href="/files/newsletters/Newsletter020908.pdf">MorTorq Newsletter - Volume 1, Issue 13 (February 09, 2008)</a></li>
<li><a href="http://assets.bhrobotics.com/newsletters/090930.pdf">MorTorq Newsletter - Volume 3, Issue 1 (September 30, 2009)</a></li>
<li><a href="http://assets.bhrobotics.com/newsletters/091112.pdf">MorTorq Newsletter - Volume 3, Issue 2 (November 12, 2009)</a></li>
<li><a href="http://assets.bhrobotics.com/newsletters/100111.pdf">MorTorq Newsletter - Volume 3, Issue 3 (January 11, 2010)</a></li>
<li><a href="http://assets.bhrobotics.com/newsletters/100122.pdf">MorTorq Newsletter - Volume 3, Issue 4 (January 22, 2010)</a></li>
<li><a href="http://assets.bhrobotics.com/newsletters/100222.pdf">MorTorq Newsletter - Volume 3, Issue 5 (February 12, 2010)</a></li>
<li><a href="http://assets.bhrobotics.com/newsletters/101108.pdf">MorTorq Newsletter - Volume 4, Issue 1 (November 8, 2010)</a></li>
<li><a href="http://assets.bhrobotics.com/newsletters/101207.pdf">MorTorq Newsletter - Volume 4, Issue 2 (December 7, 2010)</a></li>
<li><a href="http://assets.bhrobotics.com/newsletters/110117.pdf">MorTorq Newsletter - Volume 4, Issue 3 (January 7, 2011)</a></li>
<li><a href="http://assets.bhrobotics.com/newsletters/111101.pdf">MorTorq Newsletter - Volume 5, Issue 1 (October 27, 2011)</a></li>
</ul>

<p>To receive this newsletter as an email, please signup at:<br />
<a href="http://visitor.constantcontact.com/email.jsp?m=1101504610701&lang=en" target="_blank">http://visitor.constantcontact.com/email.jsp?m=1101504610701&amp;lang=en</a></p>