<% title "Photos" %>
<% page_class "photos" %>
	
		<% @picasa_doc.search('thumbnail', 'title').each do |tag| %>
		<% if tag['url'].nil? && tag['type'] != 'plain' %>
		<% '' %>
		<% else %>
		<p>
		<img src="<%= tag['url'] %>" alt="Photo" style="margin: 0 auto"/> <%= tag.content %>
	</p>
		<% end %>
		
		<% end %>
