<% title "Videos" %>
<h2>Videos:</h2>
  <h2>Vlog:</h2>
    <h2>Latest:</h2> 
<iframe src="http://player.vimeo.com/video/36167356?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/36167356">Vlog 15 Hygiene Drive</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

<h2>All Vlogs:</h2> 

<iframe src="http://player.vimeo.com/video/36167356?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/36167356">Vlog 15 Hygiene Drive</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/36167184?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/36167184">Vlog 14 MDA Walk</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/36165213?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/36165213">Vlog 13 Adar Thau</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/35663252?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/35663252">Vlog 12 Building</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/35663167?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/35663167">Vlog 11 Awesomeness</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/35301874?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/35301874">Vlog 10 Gracious Professionalism</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/35301766?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/35301766">Vlog 9 Coopertition</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/35166662?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/35166662">Vlog 8 Sandwich</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/34988056?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/34988056">Vlog 7 It's a Man's Job</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/34987707?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/34987707">Vlog 6 Tick-Tock</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/34930425?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/34930425">Vlog 5 Safety</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/34930067?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/34930067">Vlog 4 Foundation</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/34814571?title=0&amp;byline=0&amp;portrait=0" width="400" height="226" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/34814571">VLog Number 3 1/9/12</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/34717489?title=0&amp;byline=0&amp;portrait=0" width="400" height="295" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/34717489">Vlog 2 - First Vlog of Robotics Season</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/33512338?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/33512338">Robotics VLog 12/9/11 Building</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>	
<iframe src="http://player.vimeo.com/video/21683776?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/21683776">MorTorq's Fifth and Final Vlog from 2011 FRC Logomotion Los Angeles Regional</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/21677526?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/21677526">MorTorq's Fourth Blog at the 2011 FRC Logomotion Los Angeles Regional</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/21675481?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/21675481">MorTorq's Third Blog at the 2011 FRC Logomotion Los Angeles Regional</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/21669357?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/21669357">MorTorq's Second Blog at the 2011 FRC Logomotion Los Angeles Regional</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/21662909?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/21662909">Mortorq's First Vlog from the 2011 FRC Los Angeles Regional</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/21355455?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/21355455">Vlog 7</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/19767988?title=0&amp;byline=0&amp;portrait=0" width="400" height="273" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/19767988">Vlog 6</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/19314376?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/19314376">MorTorq Madness "Vlog 5" Interview</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/19726647?title=0&amp;byline=0&amp;portrait=0" width="400" height="273" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/19726647">Vlog 4</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/19232528?title=0&amp;byline=0&amp;portrait=0" width="400" height="273" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/19232528">Vlog 3</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/18684574?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/18684574">Vlog 2</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
<iframe src="http://player.vimeo.com/video/18597747?title=0&amp;byline=0&amp;portrait=0" width="400" height="220" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/18597747">Vlog</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

  <h2>Animation:</h2>
    <h2>Latest:</h2> 
            	<iframe src="http://player.vimeo.com/video/20692854?title=0&amp;byline=0&amp;portrait=0" width="400" height="269" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/20692854">Team 1515 (MorTorq) FRC Animation 2011</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    <h2>All animations:</h2> 
		<iframe src="http://player.vimeo.com/video/20692854?title=0&amp;byline=0&amp;portrait=0" width="400" height="269" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/20692854">Team 1515 (MorTorq) FRC Animation 2011</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
        	<iframe width="420" height="315" src="http://www.youtube.com/embed/40EDJgrZ3KY" frameborder="0" allowfullscreen></iframe>
        	<iframe width="420" height="315" src="http://www.youtube.com/embed/P31EGfryiTY" frameborder="0" allowfullscreen></iframe>
          	<iframe width="420" height="315" src="http://www.youtube.com/embed/MbCzXGniPhw" frameborder="0" allowfullscreen></iframe>
          	<iframe width="420" height="315" src="http://www.youtube.com/embed/MPrImWrtP0Q" frameborder="0" allowfullscreen></iframe>
          	<iframe width="560" height="315" src="http://www.youtube.com/embed/lX7ZK76MTZM" frameborder="0" allowfullscreen></iframe>

  <h2>Chairman’s Videos:</h2>
    <h3>Latest:</h3> 
		<iframe src="http://player.vimeo.com/video/21382455?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/21382455">Mortorq 2011 Chairman's Video</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p> 
    <h3>All Chairman’s Videos:</h3>
		<iframe src="http://player.vimeo.com/video/21382455?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/21382455">Mortorq 2011 Chairman's Video</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
		<iframe src="http://player.vimeo.com/video/10573998?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/10573998">MorTorq Chairman's Video 2010</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
  <h2>Promo Videos:</h2>
    <h2>Best:</h2> 
		<iframe width="560" height="315" src="http://www.youtube.com/embed/q4jxnb1RLXo" frameborder="0" allowfullscreen></iframe>
    <h2>All Promo Videos:</h2> 
		<iframe width="560" height="315" src="http://www.youtube.com/embed/q4jxnb1RLXo" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/TT4t03guyhM" frameborder="0" allowfullscreen></iframe>
		<iframe src="http://player.vimeo.com/video/4796323?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/4796323">MorTorq Team 1515 Promo Video</a> from <a href="http://vimeo.com/mcftechnical">Matthew Forman</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
		<iframe src="http://player.vimeo.com/video/16677204?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/16677204">BHHS Mortorq Promotional Video</a> from <a href="http://vimeo.com/mortorq">MorTorq</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
 
 <h2>MorTorq TV:</h2>
    <h2>All TV episodes:</h2> 

		<iframe width="420" height="315" src="http://www.youtube.com/embed/hzpRR7qdYDo" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/4qqvBlwbhqA" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/wvV4XeuGE18" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/Xw25L1eBNnA" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/Y3Tnsq6mm5U" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/acK-2frPn-k" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/5CuVwrIIYv0" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/HV-pBpwVQ24" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/fkqogSwxNus" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/CHO-U4xDZgs" frameborder="0" allowfullscreen></iframe>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/NByiiHQ3Sg4" frameborder="0" allowfullscreen></iframe>

		
  <h2>Robotics Matches:</h2>
    <h3>2011:</h3> <iframe width="560" height="315" src="http://www.youtube.com/embed/VbMFEw4W_q8" frameborder="0" allowfullscreen></iframe>
    <h3>2010: n/a</h3>
    <h3>2009: n/a</h3>
    <h3>2008:</h3> <iframe width="420" height="315" src="http://www.youtube.com/embed/ZBXeVufmgHo" frameborder="0" allowfullscreen></iframe>
    <h3>2007:</h3> <iframe width="420" height="315" src="http://www.youtube.com/embed/cPdRd9q7vj8" frameborder="0" allowfullscreen></iframe>
    <h3>2006: n/a</h3>
    <h3>2005: n/a</h3>