<% title "Videos" %>
<h2>Videos</h2>
  <h2>Vlog</h2>
    <h2>Latest</h2> 
<a href="http://vimeo.com/36167356">Vlog 15 Hygiene Drive</a>

<h2>All Vlogs</h2> 

<a href="http://vimeo.com/36167356">Vlog 15 Hygiene Drive</a>
<a href="http://vimeo.com/36167184">Vlog 14 MDA Walk</a>
<a href="http://vimeo.com/36165213">Vlog 13 Adar Thau</a>
<a href="http://vimeo.com/35663252">Vlog 12 Building</a>
<a href="http://vimeo.com/35663167">Vlog 11 Awesomeness</a>
<a href="http://vimeo.com/35663167">Vlog 10 Gracious Professionalism</a>
<a href="http://vimeo.com/35301766">Vlog 9 Cooperation</a>
<a gref="http://vimeo.com/35166662">Vlog 8 Sandwich</a>
<a href="http://vimeo.com/34988056">Vlog 7 It's a Man's Job</a>
<a href="http://vimeo.com/34987707">Vlog 6 Tick-Tock</a>
<a href="http://vimeo.com/34930425">Vlog 5 Safety</a>
<a href="http://vimeo.com/34930067">Vlog 4 Foundation</a>
<a href="http://vimeo.com/34814571">Vlog 3</a>
<a href="http://vimeo.com/34717489">Vlog 2 First Vlog of Robotics Season</a>
<a href="http://vimeo.com/33512338">Vlog 1 Building</a>  	
<a href="http://vimeo.com/21683776">Fifth Vlog at 2011 FRC Logomotion</a>
<a href="http://vimeo.com/21677526">Fourth Vlog at 2011 FRC Logomotion</a>
<a href="http://vimeo.com/21675481">Third Vlog at 2011 FRC Logomotion</a>
<a href="http://vimeo.com/21669357">Second Vlog at 2011 FRC Logomotion</a>
<a href="http://vimeo.com/21662909">First Vlog at 2011 FRC Logomotion</a>
<a href="http://vimeo.com/21355455">Vlog 7</a>
<a href="http://vimeo.com/19767988">Vlog 6</a>
<a href="http://vimeo.com/19314376">Madness "Vlog 5" Interview</a>
<a href="http://vimeo.com/19726647">Vlog 4</a>
<a href="http://vimeo.com/19232528">Vlog 3</a>
<a href="http://vimeo.com/18684574">Vlog 2</a>
<a href="http://vimeo.com/18597747">Vlog</a>

  <h2>Animation</h2>
    <h2>Latest</h2> 
            	<a href="http://vimeo.com/20692854">2011 Animation</a>
    <h2>All animations</h2> 
	<a href="http://vimeo.com/20692854">2011 Animation</a>
          <a href="http://www.youtube.com/watch?v=MbCzXGniPhw">2010 Animation</a>
           <a href="http://www.youtube.com/watch?v=MPrImWrtP0Q">2009 Animation</a>
          <a href="http://www.youtube.com/watch?v=lX7ZK76MTZM">2008 Animation</a>

  <h2>Chairman’s Videos</h2>
    <h3>Latest:</h3> 
		<a href="http://vimeo.com/21382455">2011 Chairman’s Video</a> 
    <h3>All Chairman’s Videos:</h3>
		<a href="http://vimeo.com/21382455">2011 Chairman’s Video</a> 
		<a href="http://vimeo.com/10573998">2010 Chairman’s Video</a>
  <h2>Promo Videos</h2>
    <h2>Best</h2> 
<a href="http://www.youtube.com/watch?v=q4jxnb1RLXo&feature=channel_video_title">BEST Promotional Video</a>
    <h2>All Promo Videos</h2> 
		<a href="http://www.youtube.com/watch?v=q4jxnb1RLXo&feature=channel_video_title">BEST Promotional Video</a>
		<a href="http://www.youtube.com/watch?v=TT4t03guyhM">Promotional Video</a>
		<a href="http://vimeo.com/4796323">Promotional Video</a>
		<a href="http://vimeo.com/16677204">Promotional Video</a>
  <h2>MorTorq TV</h2>
    <h2>All TV episodes</h2> 

<a href="http://www.youtube.com/watch?v=hzpRR7qdYDo">Watch Mortorq TV!</a>
<a href="http://www.youtube.com/watch?v=4qqvBlwbhqA">Mortorq TV 1</a>
<a href="http://www.youtube.com/watch?v=wvV4XeuGE18">Mortorq TV 2</a>
<a href="http://www.youtube.com/watch?v=Xw25L1eBNnA">Mortorq TV 3</a>
<a href="http://www.youtube.com/watch?v=Y3Tnsq6mm5U">Mortorq TV 4</a>
<a href="http://www.youtube.com/watch?v=acK-2frPn-k">Mortorq TV 5</a>
<a href="http://www.youtube.com/watch?v=5CuVwrIIYv0">Mortorq TV 6</a>
<a href="http://www.youtube.com/watch?v=HV-pBpwVQ24">Mortorq TV 7</a>
<a href="http://www.youtube.com/watch?v=fkqogSwxNus">Mortorq TV 8</a>
<a href="http://www.youtube.com/watch?v=CHO-U4xDZgs">Mortorq TV 9</a>
<a href="http://www.youtube.com/watch?v=NByiiHQ3Sg4">Mortorq TV 10</a>

		
  <h2>Robotics Matches</h2>
    <h3>2011:</h3> <a href=http://www.youtube.com/watch?v=VbMFEw4W_q8>2011 Match</a>
    <h3>2010: n/a</h3>
    <h3>2009: n/a</h3>
    <h3>2008:</h3> <a href="http://www.youtube.com/watch?v=ZBXeVufmgHo">2008 Match</a>
    <h3>2007:</h3> <a href="http://www.youtube.com/watch?v=cPdRd9q7vj8">2007 Match</a>
    <h3>2006: n/a</h3>
    <h3>2005: n/a</h3>
