<% title "Awards" %>
<% page_class "awards" %>

<header>
  <%= image_tag "headers/awards.jpg", :alt => "Awards" %>
</header>

<section class="information">
  <h1>Awards</h1>
  <h2>2010-2011: FIRST in M.O.T.I.O.N.</h2>
  <ul>
    <li>Regional Innovation in Control Award (Los Angeles, CA)</li>
    <li>Regional Industrial Safety Award (Los Angeles, CA)</li>
    <li>Regional Finalist Award (Los Angeles, CA)</li>
    <li>Regional Innovation in Control Award (Denver, CO)</li>
    <li>Safety Recognition (Denver, CO)</li>
  </ul>

  <h2>2009-2010: Go for the G.O.A.L.</h2>
  <ul>
    <li>Chairman's Award (Los Angeles, CA)</li>
    <li>Regional Championship (Portland, OR)</li>
    <li>Motorola Quality Award (Portland, OR)</li>
    <li>Autodesk Excellence in Script/Sound</li>
  </ul>

  <h2>2008-2009: Shoot for the Moon</h2>
  <ul>
    <li>Safety Award (Denver, CO)</li>
    <li>Team Spirit Award (Denver, CO)</li>
    <li>Judges Award (Los Angeles, CA)</li>
  </ul>

  <h2>2007-2008: Overdrive into Action</h2>
  <ul>
    <li>FIRST Tech Challenge Connect Award (Los Angeles, CA)</li>
    <li>FIRST Tech Challenge Winning Alliance Award (Los Angeles, CA)</li>
  </ul>

  <h2>2006-2007: Spreading the Word</h2>
  <ul>
    <li>Regional Finalist (Denver, CO)</li>
    <li>DaimlerChrysler Team Spirit Award (Denver, CO)</li>
    <li>Imagery Award (Los Angeles, CA)</li>
    <li>Autodesk Visualization Award (Los Angeles, CA)</li>
    <li>Website Award (Los Angeles, CA)</li>
  </ul>

  <h2>2005-2006: Setting up Shop</h2>
  <ul>
    <li>2006 SCRRF Pre-Ship Scrimmage Champions</li>
    <li>7th Place (Las Vegas, NV)</li>
    <li>Autodesk Visualization Award (Los Angeles, CA)</li>
    <li>Kleiner Perkins Caufield &amp; Byers Entrepreneurship Award (Los Angeles, CA)</li>
    <li>Kleiner Perkins Caufield &amp; Byers Entrepreneurship Award (Las Vegas, NV)</li>
    <li>Engineering Inspiration Award presented by Team 4</li>
  </ul>

  <h2>2004-2005: Building a Foundation</h2>
  <ul>
    <li>Rookie Inspiration Award (Denver, CO)</li>
    <li>Rookie All-Star Award (Los Angeles, CA)</li>
    <li>3rd Place (Denver, CO)</li>
    <li>3rd Place (Los Angeles, CA)</li>
    <li>2nd Highest Rookie Team (Los Angeles, CA)</li>
    <li>2005 Fall Classic Drag Race S.C.R.R.F Award at Chatsworth High School</li>
    <li>64th place in the world (Atlanta, GA)</li>
    <li>Rookie Excellence Award from Team 254</li>
    <li>Aesthetics Award from Team 22</li>
  </ul>
</section>
