<% title "Awards" %>
<h2>2010-2011</h2>
    		<ul>
		<li>Regional Innovation in Control Award - (Los Angeles, CA)</li>
				<p><img src=""</p>
		<li>Regional Industrial Safety Award - (Los Angeles, CA)</li>
				<p><img src=""</p>
		<li>Regional Finalist Award - (Los Angeles, CA)</li>
				<p><img src=""</p>
		<li>Regional Innovation in Control Award - (Denver, CO)</li>
				<p><img src=""</p>	
		<li>Safety Recognition - (Denver, CO)</li>
				<p><img src=""</p>
		</ul>
	<h2>2009-2010</h2>
		<ul>
		<li>Chairman's Award - (Los Angeles, CA)</li>
				<p><img src=""</p>
		<li>Regional Championship - (Portland, OR)</li>	
				<p><img src=""</p>
		<li>Motorola Quality Award - (Portland, OR)</li>
				<p><img src=""</p>
		<li>Autodesk Excellence in Script/Sound</li>
				<p><img src=""</p>
		</ul>
	<h2>2008-2009</h2>
		<ul>
		<li>The Safety Award - (Denver, CO)</li>
				<p><img src=""</p>
		<li>The Team Spirit Award - (Denver,CO)</li>
				<p><img src=""</p>
		<li>The Judges Award - (Los Angeles,CA)</li>
				<p><img src=""</p>
		</ul>
	<h2>2007-2008</h2>
		<ul>
		<li>Received the FIRST Tech Challenge Connect Award - (Los Angeles, CA)</li>
				<p><img src=""</p>
		<li>Achieved FIRST Tech Challenge Winning Alliance Award - (Los Angeles, CA)</li>
				<p><img src=""</p>
		</ul>
	<h2>2006-2007</h2>
		<ul>	
		<li>Achieved Regional Finalist - (Denver,CO)</li>
				<p><img src=""</p>
		<li>Recieved the DaimlerChrysler Team Spirit Award - (Denver,CO)</li>
				<p><img src=""</p>
		<li>Recieved the Imagery Award</li>
				<p><img src=""</p>
		<li>Received the Autodesk Visualization Award - (Los Angeles, CA)</li>
				<p><img src=""</p>
		<li>Received the Website Award - (Los Angeles, CA)</li>
				<p><img src=""</p>
		</ul>
	<h2>2005-2006</h2>
		<ul>
		<li>Achieved 2006 SCRRF Pre-Ship Scrimmage Champions</li>
				<p><img src=""</p>
		<li>Achieved 7th Place (Las Vegas, NV)</li>
				<p><img src=""</p>
		<li>Achieved Autodesk Visualization Award (Los Angeles, CA)</li>
				<p><img src=""</p>
		<li>Received Kleiner Perkins Caufield & Byers Entrepreneurship Award (Los Angeles, CA)</li>
				<p><img src=""</p>
		<li>Received Kleiner Perkins Caufield & Byers Entrepreneurship Award (Las Vegas, NV)</li>
				<p><img src=""</p>
		<li>Received Engineering Inspiration Award presented by Team 4</li>
				<p><img src=""</p>
		</ul>
	<h2>2004-2005</h2>
		<ul>
		<li>Received Rookie Inspiration Award (Denver, CO)</li>
				<p><img src=" "</p>
		<li>Received Rookie All-Star Award (Los Angeles, CA)</li>
				<p><img src=" "</p>
		<li>Won 3rd Place (Denver, CO)</li>
				<p><img src=" "</p>
		<li>Won 3rd Place (Los Angeles, CA)</li>
				<p><img src=" "</p>
		<li>2nd Highest Rookie Team (Los Angeles, CA)</li>
				<p><img src=" "</p>
		<li>Won 2005 Fall Classic Drag Race S.C.R.R.F Award at Chatsworth High School</li>
				<p><img src=" "</p>
		<li>Earned Invitation to Atlanta, Georgia International Championships</li>
				<p><img src=" "</p>
		<li>64th place in the world (Atlanta, GA)</li>
				<p><img src=" "</p>
		<li>Received Rookie Excellence Award from Team 254</li>
				<p><img src=" "</p>
		<li>Received Aesthetics Award from Team 22</li>
				<p><img src=" "</p>	
		<li>Won FIRST Website Excellence award</li>
				<p><img src=" "</p>
		</ul>