<% title "Business" %>

<header>
  <p>The Business Team</p>
</header>

<section class="intro">
  <h1>About the Business Team</h1>
  <p>Hello there! Welcome to the business page</p>
  <!-- add more info later -->
</section> 
