<% title 'Fun Facts' %>

<h1>Fun Facts</h1>

<figure class="banner">
  <%= image_tag 'fun-facts.jpg', :alt => 'Shayan looking funny' %>
</figure>

<section>
  <ul>
    <li>Several of our members have the ability to lucid dream.</li>
    <li>Allie scored more goals than the boys' JV waterpolo team.</li>
    <li>Eva has had over fifty hamsters in her life.</li>
    <li>The smallest shoe size of one of our team members is a kids' size one, which belongs to Anna. The largest shoe size of one of our members is a men's size thirteen, which belongs to Manas.</li>
    <li>Five of our mentors work on secret projects such as stealth bombers and missile defense systems, but we don't know anything about it.</li>
    <li>Kern has developed the ability to type with one-hand and blind folded.</li>
    <li>Two of our members are able to play through the Fire and Flames with a 100%.</li>
    <li>Many languages are spoken by members of our robotics team, including English, Korean, Spanish, Russian, Tagalog, Chinese, Hindi, Sanskrit, French, and Farsi.</li>
    <li>One of our members graduated when he was 16.</li>
    <li>Kern was able to eat 25 Foot Roll Ups within five minutes.</li>
    <li>Mr. Bowers has an autograph of Bill Nye the Science Guy as well as a picture with him.</li>
    <li>One of our mentors designed the original Batmobile, and the arms of Dr. Octopus in Spiderman 2.</li>
    <li>Many of our members actually play sports, hmmm, go figure.</li>
    <li>Many members of our team are musically inclined and participate our school's performing art programs.</li>
    <li>Kern has interned at JPL for the past two summers and worked on the Mars rover.</li>
    <li>Daniel Raban teaches himself how to play Nintendo songs on flute by ear.</li>
    <li>Robert has a degree in "Feline Nutrition" from "Robert Katz School of Feline Dietary Needs" and is a certified Pokemon master.</li>
    <li>Madi Kern watches on average twenty TV shows a week.</li>
    
  </ul>
</section>