<% title 'Fun Facts' %>

<h1>Fun Facts</h1>

<figure class="banner">
  <%= image_tag 'fun-facts.jpg', :alt => 'Shayan looking funny' %>
</figure>

<section>
  <ul>
    <li>Several of our members have the ability to lucid dream.</li>
    <li>Zaidal can cook the best cup of Top Ramen ever.</li>
    <li>Shayan has awesome facial hair. (No really, you've gotta see it).</li>
    <li>Raj cut his hair, and donated it all to make 100 wigs.</li>
    <li>Cole hates AT&amp;T with all his heart.</li>
    <li>Shayan has rapped alongside Eminem and Dr. Dre and is the next big free-style rapper.</li> 
    <li>Allie scored more goals than the boys' JV waterpolo team.</li>
    <li>Stephen is related to the Chinese philosopher Mencious.</li>
    <li>Eva has had over fifty hamsters in her life.</li>
    <li>Michelle can divide by zero.</li>
    <li>The smallest shoe size of one of our team members is a kids' size one, which belongs to Anna. The largest shoe size of one of our members is a men's size thirteen, which belongs to Shayan.</li>
    <li>Five of our mentors work on secret projects such as stealth bombers and missile defense systems, but we don't know anything about it.</li>
    <li>One of our mentors knows how JFK died.</li>
    <li>Several of our mentors can 360 no-scope in real life.</li>
    <li>Kern has developed the ability to type with one-hand and blind folded.</li>
    <li>Kern was able to eat 25 Foot Roll Ups within five minutes.</li>
    <li>Two of our members are able to play through the Fire and Flames with a 100%.</li>
    <li>Many languages are spoken by members of our robotics team, including English, Korean, Spanish, Russian, Tagalog, Chinese, Hindi, Sanskrit, French, and Farsi.</li>
    <li>One of our members graduated when he was 16.</li>
    <li>Mr. Bowers has an autograph of Bill Nye the Science Guy as well as a picture with him.</li>
    <li>One of our mentors designed the original Batmobile, and the arms of Dr. Octopus in Spiderman 2.</li>
    <li>Mr. Bowers was nominated for the 1984 Nobel Prize for Physics.</li>
    <li>Many of our members actually play sports, hmmm, go figure.</li>       
  </ul>
</section>