<% title 'Fun Facts' %>

<h1>Fun Facts</h1>

<figure class="banner">
  <%= image_tag 'fun-facts.jpg', :alt => 'Shayan looking funny' %>
</figure>

<section>
  <ul>
    <li>The smallest shoe size of one of our team members is a size one (kids), which belongs to Anna. The largest shoe size of one of our members is a size fourteen (men), which belongs to Rohit.</li>
    <li>Jimmy can solve a Rubik's Cube in under a minute.</li>
    <li>Five of our mentors work on secret projects such as stealth bombers and missile defense systems but we don't know anything about it.</li>
    <li>One of our mentors knows how JFK died.</li>
    <li>Several of our mentors are sharpshooters.</li>
    <li>Alex has developed the ability to type with one-hand and blind folded.</li>
    <li>Alex was able to eat 25 Foot Roll Ups within five minutes</li>
    <li>Two of our members are able to play Through the Fire and Flames with a 100%.</li>
    <li>Many languages are spoken by our robotics team including: English, Korean, Spanish, Russian, Tagalog, Chinese, Hindi, Sanskrit, French, etc.</li>
    <li>Mr. Bowers has never used a razor blade.</li>
    <li>Zaidal Obagi has fought with Chuck Norris, and won. </li>
    <li>Jimmy is part of an elite Super Smash Bros. Gaming League.</li>
    <li>Our youngest member is a 12 year old freshman, our oldest is a 52 year old man who goes by the pseudonym of Bev Hills.</li>
    <li>Angel will graduate High School when he is 16.</li>
    <li>Mr. Bowers has an autograph of Bill Nye the science guy as well as a picture with him.</li>
    <li>One of our mentors designed the original Bat-mobile, and the arms if Dr.Oct in Spider-man.</li>
    <li>Mr. Bowers was nominated for the 1984 Nobel Prize for Physics.</li>
    <li>Many of our members actually play sports, hmmm, go figure.</li>
  </ul>
</section>