<% title "Killer Katie" %>
<% page_class "robots" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", mad_max_path, :class => "back" %>
    <%= link_to "Forward", norman_1_path, :class => "forward" %>
    <%= image_tag "robots/2006.jpg", :alt => "Outreach" %>
  </section>

  <section class="information">
    <h1>2006: Killer Katie</h1>
    <ul>
      <li>Nicknames: Water Bottle</li>
      <li>Weight: 119 lbs.</li>
      <li>Height: 59 in.</li>
      <li>Width: 27.5 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 4-wheel tank drive</li>
      <li>FIRST Game: Aim High</li>
      <li>Explanation: The goal was to shoot balls form the ground into holes on the wall of different heights. The robot used a conveyer belt that picked up robots on the ground and shot them into the holes.</li>
    </ul>
  </section>
</section>
