<% title "Mad Max" %>
<% page_class "robots" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", orange_fever_path, :class => "back" %>
    <%= link_to "Forward", killer_katie_path, :class => "forward" %>
    <%= image_tag "robots/2007.jpg", :alt => "Outreach" %>
  </section>

  <section class="information">
    <h1>2007: Mad Max</h1>
    <ul>
      <li>Nicknames: Black Hawk, The MON</li>
      <li>Weight: 113 lbs.</li>
      <li>Height: 48 in.</li>
      <li>Width: 27.5 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 6-wheel tank drive</li>
      <li>FIRST Game: Rack 'n Roll</li>
      <li>Explanation: We had to pick up intertubes and play tic-tac-toe on a circle. You had to place the pegs on a circular peg structure and aim for tic-tac-toe formations. Our robot had an arm that reached 9ft and placed them on all the different peg heights.</li>
    </ul>
  </section>
</section>
