<% title "MettaBot World Peace" %>
<% page_class "robots" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", norman_1_path, :class => "back" %>
    <%= link_to "Forward", rob_2_path, :class => "forward" %>
    <%= image_tag "robots/2012.JPG", :alt => "Bot" %>
  </section>

  <section class="information">
    <h1>2012: MettaBot World Peace</h1>
    <ul>
      <li>Nicknames: Chainbreaker, Chain Reaction, FIRST</li>
      <li>Weight: 120 lbs.</li>
      <li>Height: 58 in.</li>
      <li>Width: 26 in.</li>
      <li>Length: 36 in.</li>
      <li>Drive Train: 6 Wheel Drive dropped center</li>
      <li>FIRST Game: Rebound Rumble</li>
      <li>Explanation: With close to an 18 fps traveling speed, the robot utilizes a dual stage conveyor system which allows for exactly 3 balls in each stage. The turreted dual-FP shooter shoots the ball approximately 6-8'. 100% of the processing is done offboard, so the robot only follows directions given to it, not having any itself.</li>
    </ul>
  </section>
</section>
