<% title "Mission" %>
<h2>Content:</h2>
  <p>Overview: Our mission is to prepare students for leadership roles both within the team and community. We promote life skills such as teamwork, responsibility, academic advancement, business management, time management, personal accountability, and community involvement. We introduce students to positive role models and promote the ideals of FIRST while allowing them to showcase their individual talemts. Our efforts also include an outreach to students from schools unacquainted with FIRST who wish to participate on our team. We strive to increase the popularity of engineering in the community and to establish a lasting impact on the Beverly Hills society.</p>
  <ul><h3>Motto:</h3>
    <li>Mor Power</li>
    <li>Mor Teamwork</li>
    <li>Mor Ingenuity</li>
    <li>MorTorq</li>
</ul>
  <ul><h3>Maxims:</h3>
    <li>Keep It Simple Stupid</li>
    <li>Prior Planning Prevents Piss Poor Performance</li>
    <li>Failure to Plan is a Plan to Fail</li>
</ul>
  <h3>History:</h3>
    <ul><h3>2011-2012:</h3>
      <h3>Slogan: Where FIRST Happens</h3>
      <h3>Explanation:</h3>
      <h3>Awards:</h3>
    <h3>2010-2011:</h3>
      <h3>Slogan: FIRST in M.O.T.I.O.N.</h3>
      <p>Explanation: In the 2010-2011 season, we participated in both the Denver and Los Angeles Regionals. In both, we exhibited success by making it to the semi-finals and finals respectively as well as winning the Innovation in Control Award at both regionals, Safety Recognition Award in Denver, and the Industrial Safety Award at the Los Angeles regional. Reflecting upon the year's FRC game, Logomotion, MorTorq's Chairman's Award theme was "FIRST in M.O.T.I.O.N." -Mentoring, Organization, Teamwork, Initiative, Outreach, and Network. In addition to continuing our partnerships with APLA, Ronald McDonald House Charities, Darfur Dream Team, and Cedars-Sinai, we participated in the Muscle Dystrophy Association walk and volunteered at the Los Angeles Marathon.</p>
      <ul><h3>Awards:</h3> 
          <li>Regional Innovation in Control Award - (Los Angeles, CA)</li>
          <li>Regional Industrial Safety Award - (Los Angeles, CA)</li>
          <li>Regional Finalist Award - (Los Angeles, CA)</li>
          <li>Regional Innovation in Control Award - (Denver, CO)</li>
          <li>Safety Recognition - (Denver, CO)</li>
</ul>
    <h3>2009-2010:</h3>
      <h3>Slogan: Go for the G.O.A.L.</h3>
      <p>Explanation: The 2009-2010 season has been MorTorq's most successful season yet. In accordance with the year's FRC game, our team's theme for the Chairman's Award was "Go for the G.O.A.L." MorTorq continued partnerships with APLA, the Ronald McDonald House Charities, and Cedars-Sinai, and established a new relationship as a partner school with the Obama School in Darfur. Additionally, Team 1515 mentored six FRC teams and started a FLL team. "Go for the goal" they did, and in recognition of our team’s efforts, MorTorq scooped up the Regional Winner and Motorola Quality awards at the Portland, Oregon Regional Competition and won the Chairman's Award (the most prestigious award FIRST offers) at the L.A. Regional Competition. These wins have been huge triumphs for the team members and mentors, who have worked tirelessly since our team’s inception six years ago in the hopes of earning such success.</p>
      <ul><h3>Awards:</h3>
          <li>Chairman's Award - (Los Angeles, CA)</li>
          <li>Regional Championship - (Portland, OR)</li>
          <li>Motorola Quality Award - (Portland, OR)</li>
          <li>Autodesk Excellence in Script/Sound</li>
</ul>
    <h3>2008-2009:</h3>
      <h3>Slogan: Shoot for the Moon</h3>
      <p>Explanation: This season, MorTorq decided not to set a specific goal, but rather an all-encompassing objective. In conjuction with FIRST's recognition of the 40th anniversary of the lunar landing, our team decided to push the limits and strive for excellence by making our 2009 theme "Shoot for the Moon". Team 1515 was honored to represent FIRST in the documentary "Imagine It!2." This production focuses on how imagination and innovation, along with science and technology, can provide the answers to tomorrow's problems and how future generations can help solve the world's grand challenges. The documentary premiered at the National Academy of Engineering in Washington D.C. and was later aired on television worldwide. Promoting FIRST among our community, the team held a book-and-toy drive for patients in the Pediatric Ward of Cedars-Sinai Hospital and families at the Gramercy Homeless Shelter for Women and Children. They also brought MorTorq's TECH robot and let the young patients drive the machine. MorTorq has made giant strides in communication methods, utilizing various media tools to spread the message of FIRST within the team and community. Constantly updated with blog posts and pictures showing the team's progress, MorTorq's website also chronicles the team's history, outreach, and volunteer services. Additionally, MorTorq continues to run its popular TV show, MorTorq TV, which reaches 35,000 Beverly Hills residents and the entire FIRST community on video-sharing sites as YouTube and as a podcast on iTunes.</p>
      <ul><h3>Awards:</h3> 
          <li>Received the Safety Award - (Denver, CO)</li>
          <li>Received the Team Spirit Award - (Denver, CO)</li>
          <li>Received the Judges Award - (Los Angeles, CA)</li>
</ul>
    <h3>2007-2008:</h3>
      <h3>Slogan: Overdrive into Action</h3>
      <p>Explanation: In its fourth year, MorTorq continued its steady expansion, gaining two new teachers and forging new relationships with mentors. The team attended workshops with mentors from Walt Disney Imagineering and the LAPD Bomb Squad. They took tours of the facilities of Service Machines Inc. as well as the LAPD Bomb Squad. The team's membership increased so much that it now encompasses three R.O.P. classes. The team also created VEX Team #161 this year to participate in the FIRST Tech Challenge. In its rookie season, Team #161, together with Team Spyder and the RoboTroopers, won the Los Angeles Regional. To get elementary and middle school students excited about robotics and engineering, the team held a robot and roller coaster design competition, with the winners getting a chance to work with the team. MorTorq expanded its outreach by planning two fundraisers to benefit the Muscular Dystrophy Association, starting a Muscular Dystrophy support group on Facebook, and presenting on the Jerry Lewis MDA Telethon. In accordance with Dean Kamen's homework of contacting the media, MorTorq contacted and invited several news organizations and networks to the Los Angeles Regional event. To compete in the 2008 game "Overdrive", the team built a new robot, nicknamed Orange Fever. The robot has a fast 6-wheel drive train and uses a rotating arm and claw mechanism patterned after MorTorq's 2005 robot. A pneumatic actuator pulls the claw open and closed on the trackball and then a separate pneumatic actuator punches the ball out of the closed claw with the aid of passive rollers to shoot the ball over the overpass.</p>
      <ul><h3>Awards:</h3> 
          <li>Received the FIRST Tech Challenge Connect Award - (Los Angeles, CA)</li>
          <li>Achieved FIRST Tech Challenge Winning Alliance Award - (Los Angeles, CA)</li>
</ul>
    <h3>2006-2007:</h3>
      <h3>Slogan: Spreading the Word</h3>
      <p>Explanation: Despite losing the majority of its experienced members and switching teachers again, MorTorq team recruited over 120 new members and was recognized as a ROP class. The team acquired Los Angeles County ROP and the Beverly Hilton Hotel as corporate sponsors. The team started MorTorq TV as a means of communication within the Beverly Hills community and technological world. The show broadcasts on a local television station, viewable on youtube.com, and can be downloaded on iTunes for free. The team also started sending out professional weekly newsletters to the team, Beverly Hills High School PTSA, and anyone who subscribed. The 2007 FIRST game "Rack and Roll" gave MorTorq many design challenges. The team went with a six wheel drive robot with a telescoping arm mounted on a pivot point in the middle of the robot. The arm can pivot about 250 degrees.</p>
      <ul><h3>Awards:</h3> 
          <li>Achieved Regional Finalist - (Denver, CO)</li>
          <li>Received the DaimlerChrysler Team Spirit Award - (Denver, CO)</li>
          <li>Received the Imagery Award - (Los Angeles, CA)</li>
          <li>Received the Autodesk Visualization Award - (Los Angeles, CA)</li>
          <li>Received the Website Award - (Los Angeles, CA)</li>
</ul>
    <h3>2005-2006:</h3>
      <h3>Slogan: Setting up Shop</h3>
      <p>Explanation: Year two of MorTorq started out with new leaders, a new teacher, and a new attitude. We recruited 100 new members and got down to business. We organized a fundraiser at Cold Stone and started bringing in new sponsors such as Moog Aircraft Group and Mercedes Benz of Beverly Hills. We started to use Quickbooks for our finances, Microsoft Project for management, and we sent out weekly updates via email. 2006 started with the FIRST game "Aim High." This year, the team created a robot with four wheel drive, a front roller to pick up game piece balls, a neoprene conveyor belt, and a pivoting turret that could fire balls at 12 feet per second. Before MorTorq sent the robot off to the competition, Team 1515 held another fundraiser dinner at Spark Woodfire Grill. The team competed in the Las Vegas, NV Regional and won the Kleiner, Perkins, Caufield & Byers Entrepreneurship Award. The team also won the same award at the Los Angeles, CA Regional Competition in addition to the Autodesk Visualisation Award for our 3D Animation. After the main robotics competition was over, the team planned a middle school Vex robotics competition amongst the four Beverly Hills Unified School District middle schools. All the schools came together on Engineering Day to compete with their robot and to celebrate their engineering accomplishments. The team also helped to plan the Beverly Hills Education Foundation's annual Car Show with Mercedes-Benz of Beverly Hills. The event raised $50,000 for the school district and Team 1515 got a chance to speak with former California Governor Arnold Schwarzenegger.</p>
      <ul><h3>Awards:</h3> 
          <li>Achieved 2006 SCRRF Pre-Ship Scrimmage Champions</li>
          <li>Achieved 7th Place (Las Vegas, NV)</li>
          <li>Achieved Autodesk Visualization Award (Los Angeles, CA)</li>
          <li>Received Kleiner Perkins Caufield & Byers Entrepreneurship Award (Los Angeles, CA)</li>
          <li>Received Kleiner Perkins Caufield & Byers Entrepreneurship Award (Las Vegas, NV)</li>
          <li>Received Engineering Inspiration Award presented by Team 4</li>
</ul>
    <h3>2004-2005:</h3>
      <h3>Slogan: Building a Foundation</h3>
      <p>Explanation: In 2004, three students, a board member, a high school principal, and a chemistry teacher founded the Beverly Hills High School FIRST Team 1515. The newly formed team was founded as a sub team under the current science team. Team 1515 contacted Team 207 for mentoring help. Along with experienced machining, guidance through the FIRST program, and a role model to follow, Team 207 also provided Team 1515 with their first corporate sponsor, Walt Disney Imagineering. WDI graciously paid for a regional competition, provided Imagineers to mentor the team, and donated WDI polo shirts. The Imagineers helped with programming, building, animation, and business. The sub team had 40+ members and became so large that they broke off and formed the Robotics Club. The club decided on "MorTorq" for a team name and selected which regional events the team would compete in. For weeks, the team presidents trained the members in different disciplines such as electronics, business, and 3D animation. Beverly Hills High School PTSA became an official sponsor of the team. MorTorq also held a fundraiser at a local restaurant, Spark Woodfire Grill. The 2005 game "Triple Play" was announced and the team was ready. The team built Norman I, also known as Zip Tie for its excessive use of colorful cable ties. Norman I had four wheel drive, a super structure supported by guild wires, a telescoping arm that pivoted on a Ford Aerostar window regulator, and a claw with a pneumatic solenoid. The team traveled to Denver, Colorado for its first regional event. Team 1515 came in 3rd place and won the Rookie Inspiration Award. MorTorq then came home and participated in the Southern California regional event in Los Angeles. Team 1515 came in 3rd place again and won the Rookie Allstar Award. By winning the Rookie Allstar Award, the team qualified for the international competition in Atlanta, Georgia.</p>
      <ul><h3>Awards:</h3> 
          <li>Received Rookie Inspiration Award (Denver, CO)</li>
          <li>Received Rookie All-Star Award (Los Angeles, CA)</li>
          <li>Won 3rd Place (Denver, CO)</li>
          <li>Won 3rd Place (Los Angeles, CA)</li>
          <li>2nd Highest Rookie Team (Los Angeles, CA)</li>
          <li>Won 2005 Fall Classic Drag Race S.C.R.R.F Award at Chatsworth High School</li>
          <li>Earned Invitation to Atlanta, Georgia International Championships</li>
          <li>64th place in the world (Atlanta, GA)</li>
          <li>Received Rookie Excellence Award from Team 254</li>
          <li>Received Aesthetics Award from Team 22</li>
          <li>Won FIRST Website Excellence award</li>
</ul>
