<% title 'Mission' %>

<h1>Mission</h1>

<section>
  <h2>Goals</h2>
  <p>Aim for the highest amount of points possible. We have built in redundancy so that our robot is able to consistently perform the routine task of scoring.  We have decided that <abbr>KISS</abbr> is the best mantra for building a robot and are designing the robot to that epigram.</p>
</section>

<section>
  <h2>Team Motto</h2>
  <ul>
    <li>Mor Power</li>
    <li>Mor Teamwork</li>
    <li>Mor Ingenuity</li>
    <li>MorTorq</li>
  </ul>
</section>

<section>
  <h2>Maxims</h2>
  <ul>
    <li>Keep It Simple Stupid</li>
    <li>Prior Planning Prevents Piss Poor Performance</li>
    <li>Failure to Plan is a Plan to Fail</li>
  </ul>
</section>

<section>
  <h2>Team Ideals</h2>
  <ul>
    <li>Redundancy</li>
    <li>Efficiency</li>
    <li>Practicality</li>
    <li>Simplicity</li>
    <li>Looking Cool</li>
  </ul>
</section>