<% title "MorBit" %>
<% page_class "robots" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", strikert_path, :class => "back" %>
    <%= link_to "Forward", orange_fever_path, :class => "forward" %>
    <%= image_tag "robots/2009.jpg", :alt => "Outreach" %>
  </section>

  <section class="information">
    <h1>2009: MorBit</h1>
    <ul>
      <li>Nicknames: The Turret</li>
      <li>Weight: 120 lbs.</li>
      <li>Height: 60 in.</li>
      <li>Width: 32 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 4-wheel tank drive</li>
      <li>FIRST Game: Lunacy</li>
      <li>Explanation: It was played on a surface that had no friction so it was like ice. So the goal of the game was to throw lunacy balls into carts behind all the other robots, as they had to stop you. Ours robots would spin and throw the lunacy balls to the other robots.</li>
    </ul>
  </section>
</section>
