<% title "Norman I" %>
<% page_class "robots" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", killer_katie_path, :class => "back" %>
    <%= link_to "Forward", rob_2_path, :class => "forward" %>
    <%= image_tag "robots/2005.jpg", :alt => "Outreach" %>
  </section>

  <section class="information">
    <h1>2005: Norman I</h1>
    <ul>
      <li>Nicknames: Ziptie</li>
      <li>Weight: 106 lbs.</li>
      <li>Height: 59 in.</li>
      <li>Width: 27.5 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 4-wheel tank drive</li>
      <li>FIRST Game: Triple Play</li>
      <li>Explanation: The goal of the game was to place tetrahedral PVC pyramids on top of each other as high as possible. Our robot had a hook on the end of an arm that could take the PVC pyramids off the ground and place them on top of each other.</li>
    </ul>
  </section>
</section>
