<% title "Orange Fever" %>
<% page_class "robots" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", morbit_path, :class => "back" %>
    <%= link_to "Forward", mad_max_path, :class => "forward" %>
    <%= image_tag "robots/2008.jpg", :alt => "Outreach" %>
  </section>

  <section class="information">
    <h1>2008: Orange Fever</h1>
    <ul>
      <li>Nicknames: ChoBot, The Black Hole</li>
      <li>Weight: 120 lbs.</li>
      <li>Height: 59 in.</li>
      <li>Width: 27 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 6-wheel tank drive</li>
      <li>FIRST Game: FIRST Overdrive</li>
      <li>Explanation: The robot was designed to go around a track similar to a NASCAR racecar track while picking up and throwing a 40 in diameter yoga ball over a 6 foot tall overpass.</li>
    </ul>
  </section>
</section>
