<% title "ROB 2.0" %>
<% page_class "robots" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", mettabot_path, :class => "back" %>
    <%= link_to "Forward", strikert_path, :class => "forward" %>
    <%= image_tag "robots/2011.jpg", :alt => "Outreach" %>
  </section>

  <section class="information">
    <h1>2011: ROB 2.0</h1>
    <ul>
      <li>Nicknames: BOTH HANDS</li>
      <li>Weight: 120 lbs.</li>
      <li>Height: 28 in.</li>
      <li>Width: 28 in.</li>
      <li>Length: 38 in.</li>
      <li>Drive Train: 4-wheel mecanum drive</li>
      <li>FIRST Game: Logomotion</li>
      <li>Explanation: We had an elevator pulley system and there was an arm and claw at the end that picked up the tubes and could put them all on pegs. We programmed it to go to the exact of the pegs.</li>
    </ul>
  </section>
</section>
