<% title "Robots" %>
<% page_class "robots" %>

<div class="columns">
  <div class="column-1">
    <h1>Robots</h1>
    <h2>2012: To be determined...</h2>
    <ul>
      <li>Nicknames: To be determined...</li>
      <li>Weight: To be determined...</li>
      <li>Width: To be determined...</li>
      <li>Length: To be determined...</li>
      <li>Drive Train: 6-wheel tank drive</li>
      <li>FIRST Game: Rebound Rumble</li>
      <li>Explanation: A robot that will play basketball!</li>
    </ul>

    <h2>2011: ROB 2.0</h2>
    <ul>
      <li>Nicknames: BOTH HANDS</li>
      <li>Weight: 120 lbs.</li>
      <li>Height: 28 in.</li>
      <li>Width: 28 in.</li>
      <li>Length: 38 in.</li>
      <li>Drive Train: 4-wheel mecanum drive</li>
      <li>FIRST Game: Logomotion</li>
      <li>Explanation: We had an elevator pulley system and there was an arm and claw at the end that picked up the tubes and could put them all on pegs. We programmed it to go to the exact of the pegs.</li>
    </ul>

    <h2>2010: StrikerT</h2>
    <ul>
      <li>Nicknames: MechBot</li>
      <li>Weight: 120 lbs.</li>
      <li>Height: 30 in.</li>
      <li>Width: 28 in.</li>
      <li>Length: 38 in.</li>
      <li>Drive Train: 4-wheel mecanum drive</li>
      <li>FIRST Game: Breakaway</li>
      <li>Explanation: The goal was very similar to soccer where you had a field, but there was also a hump in the middle.  The robots would kick balls into each of the goals. Our robot was a defensive robot. Its drive train was extremely strong so it could easily stop other robots from scoring.</li>
    </ul>

    <h2>2009: MorBit</h2>
    <ul>
      <li>Nicknames: The Turret</li>
      <li>Weight: 120 lbs.</li>
      <li>Height: 60 in.</li>
      <li>Width: 32 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 4-wheel tank drive</li>
      <li>FIRST Game: Lunacy</li>
      <li>Explanation: It was played on a surface that had no friction so it was like ice. So the goal of the game was to throw lunacy balls into carts behind all the other robots, as they had to stop you. Ours robots would spin and throw the lunacy balls to the other robots.</li>
    </ul>

    <h2>2008: Orange Fever</h2>
    <ul>
      <li>Nicknames: ChoBot, The Black Hole</li>
      <li>Weight: 120 lbs.</li>
      <li>Height: 59 in.</li>
      <li>Width: 27 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 6-wheel tank drive</li>
      <li>FIRST Game: FIRST Overdrive</li>
      <li>Explanation: The robot was designed to go around a track similar to a NASCAR racecar track while picking up and throwing a 40 in diameter yoga ball over a 6 foot tall overpass.</li>
    </ul>

    <h2>2007: Mad Max</h2>
    <ul>
      <li>Nicknames: Black Hawk, The MON</li>
      <li>Weight: 113 lbs.</li>
      <li>Height: 48 in.</li>
      <li>Width: 27.5 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 6-wheel tank drive</li>
      <li>FIRST Game: Rack 'n Roll</li>
      <li>Explanation: We had to pick up intertubes and play tic-tac-toe on a circle. You had to place the pegs on a circular peg structure and aim for tic-tac-toe formations. Our robot had an arm that reached 9ft and placed them on all the different peg heights.</li>
    </ul>

    <h2>2006: Killer Katie</h2>
    <ul>
      <li>Nicknames: Water Bottle</li>
      <li>Weight: 119 lbs.</li>
      <li>Height: 59 in.</li>
      <li>Width: 27.5 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 4-wheel tank drive</li>
      <li>FIRST Game: Aim High</li>
      <li>Explanation: The goal was to shoot balls form the ground into holes on the wall of different heights. The robot used a conveyer belt that picked up robots on the ground and shot them into the holes.</li>
    </ul>

    <h2>2005: Norman I</h2>
    <ul>
      <li>Nicknames: Ziptie</li>
      <li>Weight: 106 lbs.</li>
      <li>Height: 59 in.</li>
      <li>Width: 27.5 in.</li>
      <li>Length: 37 in.</li>
      <li>Drive Train: 4-wheel tank drive</li>
      <li>FIRST Game: Triple Play</li>
      <li>Explanation: The goal of the game was to place tetrahedral PVC pyramids on top of each other as high as possible. Our robot had a hook on the end of an arm that could take the PVC pyramids off the ground and place them on top of each other.</li>
    </ul>
  </div>

  <div class="column-2">
  </div>
</div>
