<% title "Robots" %>
<h2>2012</h2>
  <p>Name: To be determined...</p>
	<p>Nicknames: To be determined...</p>
	<p>Weight: To be determined...</p>
	<p>Width: To be determined...</p>
	<p>Length: To be determined...</p>
	<p>Drive Train: 6-wheel tank drive</p>
	<p>FIRST Game: Rebound Rumble</p>
	<p>Explanation: Teams will build a robot that will play basketball.</p>
	<p>Awards: To be determined...</p>
<h2>2011</h2>
	<p>Name: ROB 2.0</p>
	<p>Nicknames: BOTH HANDS</p>
	<p>Weight: 120 lbs.</p>
	<p>Height: 28 in.</p>
	<p>Width: 28 in.</p>
	<p>Length: 38 in.</p>
	<p>Drive Train: 4-wheel mecanum drive</p>
	<p>FIRST Game: Logomotion</p>
	<p>Explanation:  We had an elevator pulley system and there was an arm and 
	claw at the end that picked up the tubes and could put them all on pegs. 
	We programmed it to go to the exact of the pegs.</p>
	<p>Awards: 
		<ol>
			<li>Regional Innovation in Control Award - (Los Angeles, CA)</li> 
			<li>Regional Industrial Safety Award - (Los Angeles, CA)</li>
			<li>Regional Finalist Award - (Los Angeles, CA)</li>
			<li>Regional Innovation in Control Award - (Denver, CO)</li>
			<li>Safety Recognition - (Denver, CO)</li>
		</ol>
	</p>
	<img src="insert image of robot" alt="Rob 2.0" />
<h2>2010</h2>
	<p>Name: StrikerT</p>
	<p>Nicknames: MechBot</p>
	<p>Weight: 120 lbs.</p>
	<p>Height: 30 in.</p>
	<p>Width: 28 in.</p>
	<p>Length: 38 in.</p>
	<p>Drive Train: 4-wheel mecanum drive</p>
	<p>FIRST Game: Breakaway</p>
	<p>Explanation: The goal was very similar to soccer where you had a 
	field, but there was also a hump in the middle.  The robots would kick 
	balls into each of the goals. Our robot was a defensive robot. Its 
	drive train was extremely strong so it could easily stop other robots 
	from scoring. </p>
	<p>Awards: 
		<ol>
			<li>Regional Championship - (Portland, OR)</li> 
			<li>Motorola Quality Award - (Portland, OR)</li> 
			<li>Autodesk Excellence in Script/Sound</li>
		</ol>
	</p>
	<img src="insert image of robot" alt="StrikerT" />
<h2>2009</h2>
	<p>Name: MorBit</p>
	<p>Nicknames: The Turret</p>
	<p>Weight: 120 lbs.</p>
	<p>Height: 60 in.</p>
	<p>Width: 32 in.</p>
	<p>Length: 37 in.</p>
	<p>Drive Train: 4-wheel tank drive</p>
	<p>FIRST Game: Lunacy
	<p>Explanation: It was played on a surface that had no friction so 
	it was like ice. So the goal of the game was to throw lunacy balls 
	into carts behind all the other robots, as they had to stop you. 
	Ours robots would spin and throw the lunacy balls to the other robots.</p> 
	<p>Awards: 
		<ol>
			<li>Received the Safety Award - (Denver, CO)</li>
			<li>Received the Team Spirit Award - (Denver, CO)</li>
			<li>Received the Judges Award - (Los Angeles, CA)</li>
		</ol>
	</p>
	<img src="insert image of robot" alt="MorBit" />
<h2>2008</h2>
	<p>Name: Orange Fever</p>
	<p>Nicknames: ChoBot, The Black Hole</p>
	<p>Weight: 120 lbs.</p>
	<p>Height: 59 in.</p>
	<p>Width: 27 in.</p>
	<p>Length: 37 in.</p>
	<p>Drive Train: 6-wheel tank drive</p>
	<p>FIRST Game: FIRST Overdrive</p>
	<p>Explanation: The robot was designed to go around a track similar 
	to a NASCAR racecar track while picking up and throwing a 40 in diameter 
	yoga ball over a 6 foot tall overpass.</p>
	<p>Awards: 
		<ol>
			<li>Received the FIRST Tech Challenge Connect Award - (Los Angeles, CA)</li> 
			<li>Achieved FIRST Tech Challenge Winning Alliance Award - (Los Angeles, CA)</li>
		</ol>
	</p>
	<img src="insert image of robot" alt="Orange Fever" />
<h2>2007</h2>
	<p>Name: Mad Max</p>
	<p>Nicknames: Black Hawk, The MON</p>
	<p>Weight: 113 lbs.</p>
	<p>Height: 48 in.</p>
	<p>Width: 27.5 in.</p>
	<p>Length: 37 in.</p>
	<p>Drive Train: 6-wheel tank drive</p>
	<p>FIRST Game: Rack 'n Roll</p>
	<p>Explanation: We had to pick up intertubes and play tic-tac-toe 
	on a circle. You had to place the pegs on a circular peg structure 
	and aim for tic-tac-toe formations. Our robot had an arm that reached 
	9ft and placed them on all the different peg heights.</p>
	<p>Awards:
		<ol>
			<li>Achieved Regional Finalist - (Denver, CO)</li>
			<li>Received the DaimlerChrysler Team Spirit Award - (Denver, CO)</li>
			<li>Received the Imagery Award - (Los Angeles, CA)</li>
			<li>Received the Autodesk Visualization Award - (Los Angeles, CA)</li>
			<li>Received the Website Award - (Los Angeles, CA)</li>
		</ol>
	</p>
	<img src="insert image of robot" alt="Mad Max" />
<h2>2006</h2>
	<p>Name: Killer Katie</p>
	<p>Nicknames: Water Bottle</p>
	<p>Weight: 119 lbs.</p>
	<p>Height: 59 in.</p>
	<p>Width: 27.5 in.</p>
	<p>Length: 37 in.</p>
	<p>Drive Train: 4-wheel tank drive</p>
	<p>FIRST Game: Aim High</p>
	<p>Explanation: The goal was to shoot balls form the ground into 
	holes on the wall of different heights. The robot used a conveyer 	
	belt that picked up robots on the ground and shot them into the holes.</p> 
	<p>Awards: 
		<ol>
			<li>Kleiner Perkins Caufield & Byers Entrepreneurship Award (Los Angeles, CA)</li>
			<li>Kleiner Perkins Caufield & Byers Entrepreneurship Award</li>
			<li>Engineering Inspiration Award presented by Team 4</li>
		</ol>
	</p>
	<img src="insert image of robot" alt="Killer Katie" />
<h2>2005</h2>
	<p>Name: Norman I</p>
	<p>Nicknames: Ziptie</p>
	<p>Weight: 106 lbs.</p>
	<p>Height: 59 in.</p>
	<p>Width: 27.5 in.</p>
	<p>Length: 37 in.</p>
	<p>Drive Train: 4-wheel tank drive</p>
	<p>FIRST Game: Triple Play</p>
	<p>Explanation: The goal of the game was to place tetrahedral PVC 
	pyramids on top of each other as high as possible. Our robot had 
	a hook on the end of an arm that could take the PVC pyramids off 
	the ground and place them on top of each other.</p> 
	<p>Awards: 
		<ol>
			<li>Rookie Inspiration Award (Denver, CO)</li>
			<li>Rookie All-Star Award (Los Angeles, CA)</li>
			<li>Won 3rd Place (Denver, CO)</li>
			<li>Won 3rd Place (Los Angeles, CA)</li>
			<li>2nd Highest Rookie Team (Los Angeles, CA)</li>
			<li>Won 2005 Fall Classic Drag Race S.C.R.R.F Award at Chatsworth High School</li>
			<li>Earned Invitation to Atlanta, Georgia International Championships</li>
			<li>64th place in the world (Atlanta, GA)</li>
			<li>Received Rookie Excellence Award from Team 254</li>
			<li>Received Aesthetics Award from Team 22</li>
			<li>Won FIRST Website Excellence award</li>
		</ol>
	</p>
	<img src="insert image of robot" alt="Norman I" />