<% title "StrikerT" %>
<% page_class "robots" %>

<section class="carousel">
  <section class="banner">
    <%= link_to "Back", rob_2_path, :class => "back" %>
    <%= link_to "Forward", morbit_path, :class => "forward" %>
    <%= image_tag "robots/2010.jpg", :alt => "Outreach" %>
  </section>

  <section class="information">
    <h1>2010: StrikerT</h1>
    <ul>
      <li>Nicknames: MechBot</li>
      <li>Weight: 120 lbs.</li>
      <li>Height: 30 in.</li>
      <li>Width: 28 in.</li>
      <li>Length: 38 in.</li>
      <li>Drive Train: 4-wheel mecanum drive</li>
      <li>FIRST Game: Breakaway</li>
      <li>Explanation: Breakaway was very similar to soccer: robots on the field would kick balls into each of its goals. StrikerT was a defensive robot. Its drive train was extremely strong so that it could easily stop other robots from scoring.</li>
    </ul>
  </section>
</section>
