<% title 'Edit Member' %>

<header>
  <%= link_to 'Back', member_path(@member), :class => 'back-button' %>
  <h1>Edit Member</h1>
</header>

<section>
  <%= form_for @member do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    
    <div class="actions">
      <button type="submit">Edit member</button>
    </div>
  <% end %>
</section>