<% title "Members" %>
<% page_class "members" %>

<section class="banner">
  <% image_tag "resized-2013.jpg", :alt => "Team picture" %>
</section>
<section class="members-list">
  <div class="column-1">
    <h1>Members</h1>
    <h2>Students</h2>
    <ul>
      <% @students.each do |student| %>
        <!--<li>
          <% link_to student.name, member_path(student) %>
        </li>-->
      <% end %>
    </ul>
  </div>

  <div class="column-2">
    <h2>Mentors</h2>
    <ul>
      <% @mentors.each do |mentor| %>
        <!--<li>
          <% link_to mentor.name, member_path(mentor) %>
        </li>-->
      <% end %>
    </ul>

    <h2>Alumni</h2>
    <ul>
      <% @alumni.each do |alumni| %>
        <!-- <li>
          <% link_to alumni.name, member_path(alumni) %>
          
        </li>-->
      <% end %>
    </ul>
  </div>
</section>

<% if signed_in? %>
  <%= link_to "New Member", new_member_path %>
<% end %>
