<% title 'Members' %>

<h1>Members</h1>

<section>
  <ul>
    <li><%= link_to 'Add member', new_member_path %></li>
  </ul>
  
  <ul>
    <% @members.each do |member| %>
      <li><%= link_to member.name, member_path(@member) %> - <%= link_to 'Edit', edit_member_path(@member) %> - <%= button_to 'Delete', member_path(@member), :method => :delete %></li>
    <% end %>
  </ul>
</section>