<% title 'Add Member' %>

<h1>Add Member</h1>

<section>
  <%= form_for @member do |f| %>
    <%= f.inputname"
    t.text     "biography"
    t.integer  "graduating_year"
    t.string   "subteam"
    t.datetime "created_at"
    t.datetime "updated_at %>
  <% end %>
</section>